.about {
  p {
    @include light;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 30px;
    &:first-child {
      padding-top: 4.875vw;
      padding-bottom: 4.875vw;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
  }

  &__top-block {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__img {
    width: 100%;
    margin-bottom: 80px;
  }
}