.about {
  margin-bottom: 109px;

  p {
    @include light;
    font-size: 24px;
    line-height: 30px;
    &:first-child {
      padding-top: 3.875em;
      padding-bottom: 3.875em;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
  }

  &__top-block {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__img {
    margin-bottom: 80px;
  }
}