@use "sass:list";
@use "sass:map";

@mixin footer-menu-item-color($num) {
  @if $num > 0 {
    &:nth-child(#{$num}) {
      color: list.nth($card-overlay-colors, list.length($card-overlay-colors) +1 - $num);
    }
  }
}

.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }
  &__menu {
    margin-bottom: 1rem;
    &-list {
      display: flex;
    }
    &-item {
      margin-left: 1.1rem;
    }
  }
  &__nav {
    padding-top: 1rem;
  }
  &__col {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &__main-logo {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  &__contacts {
    font-size: 20px;
    line-height: 19px;
    &-phone {
      margin-bottom: 0.5rem;
    }
  }
  &__text {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-top: 60px;
    margin-bottom: 15px;
  }
  &__copyright-block {
    @include medium;
    font-size: 18px;
    padding-top: 12px;
    line-height: 1;
    padding-bottom: 5px;
    margin-bottom: 82px;
    background-color: #000000;
    color: #F4F4F4;
  }
  &__left-block {
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 50%;
  }
  &__right-block {
    flex-basis: 50%;
  }
  @media (max-width: breakpoint('xl')) {
    &__left-block {
      flex-basis: 30%;
    }
    &__right-block {
      flex-basis: 70%;
    }
  }
  @media (max-width: breakpoint('lg')) {
    &__left-block {
      order: 2;
      justify-content: center;
      align-self: center;
      margin-top: 55px;
      text-align: center;
    }
  }
  @media (max-width: breakpoint('md')) {
    &__right-block {
      font-size: 15px;
    }
    &__copyright-block {
      font-size: 16px;
    }
  }
  @media (max-width: breakpoint('sm')) {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__menu-list {
      flex-direction: column;
    }
    &__menu-item {
      margin-top: 0.5rem;
    }
    &__copyright-block {
      font-size: 11px;
    }
  }
}

.products__menu-list {
  flex-direction: column;
  align-items: flex-end;
  .footer__menu-item {
    @for $i from 1 through 6 {
      @include footer-menu-item-color($i);
    }
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    a {
      white-space: nowrap;
    }
  }
}

.instagram-icon {
  background-image: url("../../assets/img/inst_icon.svg");
}
.vk-icon {
  background-image: url("../../assets/img/vk_icon.svg");
}

.footer__social {
  &-list {
    display: flex;
    align-items: flex-end;
  }
  &-item {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 18px;
    padding-top: 1em;
    padding-bottom: 0.5rem;
  }
  &-icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
  }
}