.newsletters {
  position: relative;
  display: flex;
  justify-content: center;
  background: #F6F6F6;
  &__inner {
    display: flex;
  }
  &__title {
    display: block;
    padding-top: 25%;
    padding-bottom: 1rem;
  }
  &__text {
    font-size: 20px;
    line-height: 19px;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  &__subscribe-btn {
    display: block;
    background: #FFFFFF;
    width: 100%;
    border: 1px solid #EEEEEE;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    span {
      text-align: start;
      display: block;
    }
  }
  &__chat-btn {
    position: absolute;
    bottom: 10%;
    right: 5vw;
    width: 255px;
    height: 82px;

    background: #1D1D1B;
    border-radius: 48px;
    border-style: none;
    span {
      @include bold;
      font-weight: 700;
      font-size: 26px;
      line-height: 100%;
      color: #F4F4F4;
    }
  }
}

.h2 {
  @include light;
  font-size: 32px;
  line-height: 31px;
}

.wrapper {
  max-width: 90%;
}