.newsletters {
  position: relative;
  display: flex;
  justify-content: center;
  background: $main-color;
  &__inner {
    display: flex;
  }
  &__col-inner {
    @media (max-width: 1140px) {
      margin-bottom: 132px;
    }
  }
  &__title {
    display: block;
    padding-top: 132px;
    padding-bottom: 1rem;
  }
  &__text {
    font-size: 20px;
    line-height: 19px;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  &__subscribe-btn {
    display: block;
    background: #FFFFFF;
    width: 100%;
    border: 1px solid #EEEEEE;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 1.2rem;
    span {
      text-align: start;
      display: block;
    }
  }
}

.h2 {
  @include light;
  font-size: 32px;
  line-height: 31px;
}

.wrapper {
  max-width: 90%;
}