.partners {
  background: $main-color;
  &__logo {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

.partners__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (max-width: breakpoint('xl')) {
    .union-group.icon_collapsed {
      margin-right: calc((100% - 900px/2)/2);
    }
  }

  @media (max-width: breakpoint('lg')) {
      .union-group.icon_collapsed {
        margin-right: calc((100% - 700px/2)/2);
      }
  }

  @media (max-width: breakpoint('md')) {
    .union-group.icon_collapsed {
      margin-right: calc((100% - 500px/2)/2);
    }
  }

  @media (max-width: breakpoint('sm')) {
    .union-group.icon_collapsed {
      margin-right: calc((100% - 320px/2)/2);
    }
  }

  .partners__item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 50%;
    align-items: center;
    border-top: 1px solid #939393;
    padding-bottom: 50px;

    &-group {
      display: flex;
      height: 82px;
      align-items: center;

      .partners__title {
        margin-bottom: 0;
        text-align: left;
      }
    }
  }

  .partners__title {
    height: 43px;
    @include light;
    font-size: 40px;
    line-height: 38px;
    color: #2C2A25;
    background-color: inherit;
    margin-bottom: 148px;
    text-align: center;
  }

  .union-group {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 55.54px;
    height: 55.54px;
    align-items: center;
    border-radius:50%;
    background: #939393;
    transform: rotate(-180deg);
  }
}

.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  .icon_arrow {
    display: block;
    transform: rotate(180deg);
  }
  .icon_closed {
    display: none;
  }
  &.icon_collapsed {
    .icon_arrow {
      display: none;
    }
    .icon_closed {
      display: block;
    }
    position: fixed;
    bottom: 0;
    margin-right: calc((100% - 1140px/2)/2);
    margin-bottom: 20px;
    z-index: 1000;
  }
}

.content {
  overflow: hidden;
  @include italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;

  &.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s;
  }

  &.m-fadeIn {
    visibility: visible;
    opacity: 1;
    height: 100%;
    transition: visibility 0s linear 0s, opacity 0.5s;
  }

  ol {
    list-style: decimal;
    padding: 50px 0;
    li {
      display: list-item;
      list-style-position: inside;
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
}