.partners {
  background: #F6F6F6;
  &__logo {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

.partners__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .partners__item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 50%;
    align-items: center;
    border-top: 1px solid #939393;
    padding-bottom: 50px;

    &-group {
      display: flex;
      height: 82px;
      align-items: center;

      .partners__title {
        margin-bottom: 0;
      }
    }
  }

  .partners__title {
    height: 43px;
    @include light;
    font-size: 40px;
    line-height: 38px;
    color: #2C2A25;
    background-color: inherit;
    margin-bottom: 148px;
  }

  .union-group {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 55.54px;
    height: 55.54px;
    align-items: center;
    border-radius:50%;
    background: #939393;
    transform: rotate(-180deg);
  }
}

.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  .icon_arrow {
    display: block;
    transform: rotate(180deg);
  }
  .icon_closed {
    display: none;
  }
  &.icon_collapsed {
    .icon_arrow {
      display: none;
    }
    .icon_closed {
      display: block;
    }
    top: 50%;
  }
}

/* Style the collapsible content. Note: hidden by default */
.content {
  overflow: hidden;
  font-family: 'Gotham Pro Light Italic', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  opacity: 0;
  height: 0;
  transition: visibility 0s, opacity 0.5s linear;

  ol {
    list-style: decimal;
    padding: 50px 0;
    li {
      display: list-item;
      list-style-position: inside;
      margin-bottom: 32px;
    }
  }
}

.expandable {
  padding-top: 10px;
  /* overflow set to hidden to hide the expanded text */
  overflow: hidden;
  /* all style changes will ease-in-out for 1s */
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s;
}