@use "sass:list";

$card-overlay-colors: #EFC2B3 #FCD700 #2C2A25 #996C59 #B0B3B2 #5BB0BC;

@mixin apply-overlay-color($num) {
  .products__card-info:hover .card-img-overlay,
  .card-img-overlay:hover {
    background-color: list.nth($card-overlay-colors, $num);
  }
}

@mixin card-overlay-color($num, $offset) {
    @if $num > 0 {
      &:nth-child(#{$num}) {
        @include apply-overlay-color($num + $offset);
      }
    }
}

.products {
  &__title {
    @include light;
    font-size: 24px;
    line-height: 23px;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    @media (max-width: 760px) {
      text-align: center;
    }
  }
  &__col {
    width: 367px;
    margin-bottom: 56px;
    margin-right: 19.5px;
    @media (max-width: 1140px) {
      flex-basis: calc(50% - 19.5px);
    }
    @media (max-width: 760px) {
      flex-basis: inherit;
    }
  }
  &__line:nth-child(1) &__col {
    @for $i from 1 through 6 {
      @include card-overlay-color($i, 0);
    }
  }
  &__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -19.5px;
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 0;
      word-wrap: break-word;
      background-color: $main-color;
      background-clip: border-box;

      &-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        border-radius: 0;
        cursor: pointer;
      }
      &-title {
        position: absolute;
        top: 57px;
        z-index: 10000;
        font-size: 32px;
        line-height: 31px;
        padding: 0 40px 40px;
        text-align: center;
      }
      &-text {
        @include bold;
        position: absolute;
        top: 150px;
        z-index: 10000;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        padding: 0 0.5rem;
      }
    }
  }
}

.products__card {
    width: 357px;
    height: 550px;
    margin-bottom: 20px;
  &-sub-title {
    @include regular;
    font-size: 24px;
    line-height: 23px;
    padding: 0.5rem 0;
  }
  &-more-block {
    position: absolute;
    z-index: 10000;
    bottom: 109px;
    background-color: #FFFFFF;
    border: 0;
  }
  &-more-btn {
    @include light;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.005em;
    border: 0;
    text-transform: uppercase;
    padding: 0.5rem 1rem 0 1rem;
    background-color: inherit;
  }
  &-info {
    @include regular;
    display: flex;
    justify-content: center;
    opacity: 0;
    &:hover {
      opacity: 1;
      cursor: pointer;
      .card-img-overlay {
          mix-blend-mode: multiply;
      }
    }
  }
  &-img {
    margin-top: 85px;
    @media (max-width: 1140px) {
      //margin-left: -80px;
    }
  }
}