@use "sass:list";

.product {
  background: $main-color;
  &__path {
    @include light;
    padding-top: 19px;
  }
  &__about {
    display: flex;
    align-items: center;
    img {
      display: block;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__title {
    @include regular;
    font-size: 40px;
    line-height: 38px;
    margin-bottom: 0.81rem;
  }
  &__subtitle {
    @include light;
    font-size: 24px;
    line-height: 115%;
    margin-bottom: 2rem;
  }
  &__description {
    @include regular;
    line-height: 20px;
    color: #939393;
    .bold {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__more {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    span {
      display: block;
      border-top: 1px solid #939393;
      @include italic;
      font-size: 24px;
      line-height: 115%;
      padding: 30px 0 30px 0;
    }
    .product__more-img img {
      margin: 0;
    }
  }
  img {
    margin-top: 120px;
    margin-bottom: 57px;
  }

  @for $i from 1 through list.length($card-overlay-colors) {
    &.product-#{$i} {
      [class*="title"] {
        color: list.nth($card-overlay-colors, $i);
      }

      .union-group {
        background: list.nth($card-overlay-colors, $i);
      }
    }
  }
}