

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin light {
  font-family: 'Gotham Pro Light', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin regular {
  font-family: 'Gotham Pro', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin bold {
  font-family: 'Gotham Pro Bold', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin medium {
  font-family: 'Gotham Pro Medium', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

