<section id="about" class="about">
    <h2 class="hidden">GECKO Premium</h2>
    <div class="container">
        <div class="about__inner">
            <div class="about__top-block">
                <p>
                    Красота - это чувство комфорта в собственной коже.
                    <br>Мы, компания <span class="about__title text-bold">GECKO Premium</span>, считаем, что дарить
                    красоту
                    - это наше призвание.
                    <br>Поэтому главным компонентом во всех наших продуктах является полиглутаминовая кислота.
                    <br>Полиглутаминовая кислота — это природный биополимер, получаемый в результате процесса
                    ферментации.
                    Он абсолютно безопасный, натуральный и биоразлагаемый.
                </p>
            </div>
            <img class="about__img" src="../assets/img/photo_products_all_2_1.png" alt="Photo Products">
            <p><span class="text-bold">Также PGA:</span><br>Притягивает и связывает в пять раз больше молекул воды, чем
                гиалуроновая кислота, поэтому обладает
                более интенсивным увлажняющим эффектом.</p>
            <p>Работает сразу в двух направлениях: она не только глубоко увлажняет кожу, но и образует на её поверхности
                пленку, которая препятствует <br>потере влаги.</p>
            <p>Механизм действия PGA направлен на блокировку гиалуронидазы — того самого фермента, который разрушает
                нашу
                собственную гиалуроновую кислоту в составе дермы, тем самым препятствуя синтезу коллагена и
                эластина. </p>
            <p>Улучшает защитные свойства и регенерацию кожи, частично восстанавливает потерю коллагена, связанную с
                UVB-излучением. </p>
            <p>У аллергиков снижает уровень воспалительных цитокинов. Об этом свидетельствуют различные исследования in
                vitro. </p>
            <p>Успешно применяется как восстанавливающее средство после пилингов, загаров.</p>
            <p>Подходит для чувствительной кожи, снимает раздражение при склонности на холодовую аллергию. </p>
            <p>Повышает качество кожи у лиц, тяжело переживающих сезон отопления. </p>
            <p>Является инновационным компонентом, обладающим как мгновенным ярко выраженным, так и отсроченным мощным
                увлажняющим эффектом.</p>
        </div>
    </div>
</section>