<div class="carousel slide">
    <div class="carousel__inner slider-container">
        <div class="carousel__item carousel__item_active slide-1">
            <div class="carousel__caption">
                <img src="../assets/img/logo_rastr.svg" class="carousel__logo" alt="Carousel Gecko Logo">
                <p class="carousel__caption-label p-4">СОЗДАН ДЛЯ ТОГО, ЧТОБЫ ТВОЯ КОЖА СКАЗАЛА ТЕБЕ СПАСИБО</p>
            </div>
        </div>
        <div class="carousel__item slide-2"></div>
        <div class="carousel__item slide-3"></div>
        <div class="carousel__item slide-4"></div>
        <div class="carousel__indicators">
            <button type="button" data-bs-target="" onclick="currentDiv(1)"></button>
            <button type="button" data-bs-target="" onclick="currentDiv(2)"></button>
            <button type="button" data-bs-target="" onclick="currentDiv(3)"></button>
            <button type="button" data-bs-target="" onclick="currentDiv(4)"></button>
        </div>
    </div>
</div>