<footer>
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col footer__left-block">
                <a href="/">
                    <img src="../assets/img/Gecko_main_logo.svg" class="footer__main-logo" alt="Footer Gecko Logo">
                </a>
                <div id="contacts" class="footer__contacts">
                    <div class="footer__contacts-phone">
                        <a href="tel:+375293771400">+375 29 377 1400</a>
                    </div>
                    <div class="footer__contacts-mail">
                        <a href="mailto:info@gecko.by">info@gecko.by</a>
                    </div>
                </div>
            </div>
            <div class="footer__col footer__right-block">
                <div class="footer__menu footer__nav flex-width-100">
                    <ul class="footer__menu-list flex-end">
                        <li class="footer__menu-item">
                            <a class="nav-link" href="/#about">О КОМПАНИИ</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="nav-link" href="/#products">ПРОДУКЦИЯ</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="nav-link" href="/#partnership">СОТРУДНИЧЕСТВО</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="nav-link" href="#contacts">КОНТАКТЫ</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col flex-end flex-nowrap flex-width-100">
                    <div class="footer__menu flex-width-50">
                        <ul class="footer__menu-list products__menu-list">
                            <li class="footer__menu-item">
                                <a class="nav-link" href="#">POLYGLUTAMIC ACID SERUM</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="nav-link" href="#">ANTI-AGE COMPLEX</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="nav-link" href="#">ANTI-ACNE COMPLEX</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="nav-link" href="#">FOR MEN</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="nav-link" href="/antioxidant">ANTIOXIDANT SERUM</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="nav-link" href="/whitening">WHITENING SERUM</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__social flex-width-50">
                        <ul class="footer__social-list flex-end flex-col">
                            <li class="footer__social-item">
                                <a class="nav-link footer__social-link" href="https://www.instagram.com/gecko_russia">gecko_russia</a>
                                <a class="footer__social-icon instagram-icon" href="https://www.instagram.com/gecko_russia"></a>
                            </li>
                            <li class="footer__social-item">
                                <a class="nav-link footer__social-link" href="https://www.instagram.com/gecko_by">gecko_by</a>
                                <a class="footer__social-icon instagram-icon"  href="https://www.instagram.com/gecko_by"></a>
                            </li>
                            <li class="footer__social-item">
                                <a class="nav-link footer__social-link" href="https://www.instagram.com/gecko.kz">gecko.kz</a>
                                <a class="footer__social-icon instagram-icon" href="https://www.instagram.com/gecko.kz"></a>
                            </li>
                            <li class="footer__social-item">
                                <a class="nav-link footer__social-link" href="https://www.instagram.com/gecko.georgia">gecko.georgia</a>
                                <a class="footer__social-icon instagram-icon" href="https://www.instagram.com/gecko.georgia"></a>
                            </li>
                            <li class="footer__social-item">
                                <a class="nav-link footer__social-link" href="https://vk.com/geckorussia">vk.com/geckorussia</a>
                                <a class="footer__social-icon vk-icon" href="https://vk.com/geckorussia"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__text">
            Наименование юридического лица: ООО Гекко-Косметикс Юр.адрес: Республика Беларусь, 220049 г. Минск, ул. Кутузова, 12-27а
            <br>Регистрационный номер 193531764 Дата регистрации 09.04.2021г.
            <br>Регистрация в торговом реестре: 09.12.2021г.
            <br>Почт.адрес: Республика Беларусь, 220047 г. Минск, а/я 72
        </div>
    </div>
    <div class="footer__copyright-block">
        <div class="container">
            <div class="footer__copyright-text">
                © 2022. Все права защищены. ООО «Гекко-Косметикс»
            </div>
        </div>
    </div>
</footer>
<button class="app__chat-btn"><span>Задать вопрос</span></button>