<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="navbar">
                <a class="navbar-logo" href="#">
                    <img src="../assets/img/logo.svg" height="100%" width="267" alt="Gecko Logo" loading="lazy"/>
                </a>
                <ul class="navbar__menu nav">
                    <li class="navbar__menu-item nav-item">
                        <a class="nav-link active" href="#">О компании</a>
                    </li>
                    <li class="navbar__menu-item nav-item">
                        <a class="nav-link" href="#">Продукция</a>
                    </li>
                    <li class="navbar__menu-item nav-item">
                        <a class="nav-link" href="#">Сотрудничество</a>
                    </li>
                    <li class="navbar__menu-item nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                    <li class="navbar__menu-item nav-item">
                        <a class="nav-link" href="#">Партнеры</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>