<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="navbar">
                <a class="navbar-logo" href="#">
                    <img src="../assets/img/logo.svg" height="100%" width="267" alt="Gecko Logo" loading="lazy"/>
                </a>
                <input class="checkbox" type="checkbox" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="navbar__menu nav">
                    <li class="navbar__menu-item nav-item">
                        <a class="nav-link active" href="#about">О компании</a>
                    </li>
                    <li class="navbar__menu-item nav-item">
                        <a class="nav-link" href="#products">Продукция</a>
                    </li>
                    <li class="navbar__menu-item nav-item">
                        <a class="nav-link" href="#partnership">Сотрудничество</a>
                    </li>
                    <li class="navbar__menu-item nav-item">
                        <a class="nav-link" href="#contacts">Контакты</a>
                    </li>
                    <li class="navbar__menu-item nav-item">
                        <a class="nav-link" href="#">Партнеры</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>