<section id="partnership" class="newsletters">
    <h2 class="hidden">Сотрудничество</h2>
    <div class="container">
        <div class="newsletters__inner">
            <div class="newsletters__col">
                <div class="newsletters__col-inner wrapper">
                    <span class="newsletters__title h2">СОТРУДНИЧЕСТВО</span>
                    <p class="newsletters__text">
                        Если вы косметолог/косметик и хотите с нами сотрудничать, оставьте ваш контактный номер и мы с вами свяжемся:
                    </p>
                    <div class="newsletters__subscribe-btn">
                        <a href="tel:+375293771400">
                            <span class="h2">+375 29 377 1400</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="newsletters__col xl-d-none">
                <img src="../assets/img/Gecko_Whitening_4_1.png" alt="Gecko Newsletters">
            </div>
        </div>
    </div>
</section>