<section id="partners" class="partners">
    <div class="container">
        <div class="partners__inner">
            <img src="../assets/img/Gecko_main_logo.svg" class="partners__logo" alt="Partners Gecko Logo">
            <div class="partners__title">Наши партнеры в Республике Беларусь</div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Минск</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="arrow">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    @@include('../components/partners/minsk.html')
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Минская область</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    @@include('../components/partners/minsk-oblast.html')
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Брест</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    @@include('../components/partners/brest.html')
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Могилев</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    @@include('../components/partners/mogilev.html')
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Витебск</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    @@include('../components/partners/vitebsk.html')
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Гомель</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    @@include('../components/partners/gomel.html')
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Гродно</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    @@include('../components/partners/grodno.html')
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            var content = this.parentNode.nextElementSibling;
            if (content.classList.contains('m-fadeIn')) {
                content.classList.remove('m-fadeIn');
                content.classList.add('m-fadeOut');
                this.classList.remove('icon_collapsed');
            }
            else {
                content.classList.remove('m-fadeOut');
                content.classList.add('m-fadeIn');
                this.classList.add('icon_collapsed');
            }
        });
    }
</script>