<section id="partners" class="partners">
    <div class="container">
        <div class="partners__inner">
            <img src="../assets/img/Gecko_main_logo.svg" class="partners__logo" alt="Partners Gecko Logo">
            <div class="partners__title">Наши партнеры в Республике Беларусь</div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Минск</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png">
                        <img class="icon_closed" src="../assets/img/closed.png">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375447870253
                            <br/>
                            https://www.instagram.com/me_cosmetology/
                        </li>
                        <li>
                            Татьяна Кильчевская-Николайчик<br/>
                            Адрес: пр.Победителей 75/1,Бьюти дом "Сорока"<br/>
                            +375447276289<br/>
                            https://www.instagram.com/slim_beauty_room/
                        </li>
                        <li>Полина Миронова<br/>
                            +375292943863<br/>
                            Адрес: ул.Мельникайте 2,7 этаж, каб 709<br/>
                            https://www.instagram.com/polina.proface/
                        </li>
                        <li>Светлана Ерофеева<br/>
                            +375336363173<br/>
                            Адрес: ул.К.Чорного 5а<br/>
                            https://www.instagram.com/cosmetik.by/
                        </li>
                        <li>Подлешук Татьяна<br/>
                            +37529-604-44-17<br/>
                            Адрес: Гостиница Планета, пр.Победителей, 31/1<br/>
                            https://www.instagram.com/kosmetolog_missistatti/
                        </li>
                        <li>Наталия Ерошенок<br/>
                            https://www.instagram.com/organic_bar_by/
                        </li>
                        <li>Ходько Анна<br/>
                            +375447560050<br/>
                            Адрес: пр-т Победителей, 125<br/>
                            https://www.instagram.com/annak_kosmetolog/
                        </li>
                        <li>Шимко Людмила<br/>
                            +375297711753<br/>
                            Адрес: ул.Пушкина 41<br/>
                            https://www.instagram.com/cosmetic_nurse_luidmila/
                        </li>
                        <li>Ковалевская Марианна +375296923975<br/>
                            Адрес: ул.Я.Коласа 69<br/>
                            https://www.instagram.com/marianneta69gmail/
                        </li>
                        <li>ШКОЛА КОСМЕТОЛОГИИ «МЕЛЕОР»<br/>
                            https://www.instagram.com/meleor_education/
                        </li>
                        <li>Лилия Родзевич<br/>
                            +375293077177<br/>
                            Адрес: ул.Бурдейного 14<br/>
                            https://www.instagram.com/beauty_lilia_/
                        </li>
                        <li>Мельникова Ольга<br/>
                            +375292512793<br/>
                            https://www.instagram.com/cosmetolog_melnikova/
                        </li>
                        <li>Головач Ольга<br/>
                            +375296666513<br/>
                            Адрес: ул.Тимирязева 2<br/>
                            https://www.instagram.com/skinexpert_minsk/
                        </li>
                        <li>Богдан Кристина<br/>
                            +375333560036<br/>
                            Адрес: пер. Тучинский 4,студия Бьюти_мо<br/>
                            https://www.instagram.com/kriss_mo_/
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Минская область</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375447870253
                            <br/>
                            https://www.instagram.com/me_cosmetology/
                        </li>
                        <li>
                            Татьяна Кильчевская-Николайчик<br/>
                            Адрес: пр.Победителей 75/1,Бьюти дом "Сорока"<br/>
                            +375447276289<br/>
                            https://www.instagram.com/slim_beauty_room/
                        </li>
                        <li>Полина Миронова<br/>
                            +375292943863<br/>
                            Адрес: ул.Мельникайте 2,7 этаж, каб 709<br/>
                            https://www.instagram.com/polina.proface/
                        </li>
                        <li>Светлана Ерофеева<br/>
                            +375336363173<br/>
                            Адрес: ул.К.Чорного 5а<br/>
                            https://www.instagram.com/cosmetik.by/
                        </li>
                        <li>Подлешук Татьяна<br/>
                            +37529-604-44-17<br/>
                            Адрес: Гостиница Планета, пр.Победителей, 31/1<br/>
                            https://www.instagram.com/kosmetolog_missistatti/
                        </li>
                        <li>Наталия Ерошенок<br/>
                            https://www.instagram.com/organic_bar_by/
                        </li>
                        <li>Ходько Анна<br/>
                            +375447560050<br/>
                            Адрес: пр-т Победителей, 125<br/>
                            https://www.instagram.com/annak_kosmetolog/
                        </li>
                        <li>Шимко Людмила<br/>
                            +375297711753<br/>
                            Адрес: ул.Пушкина 41<br/>
                            https://www.instagram.com/cosmetic_nurse_luidmila/
                        </li>
                        <li>Ковалевская Марианна +375296923975<br/>
                            Адрес: ул.Я.Коласа 69<br/>
                            https://www.instagram.com/marianneta69gmail/
                        </li>
                        <li>ШКОЛА КОСМЕТОЛОГИИ «МЕЛЕОР»<br/>
                            https://www.instagram.com/meleor_education/
                        </li>
                        <li>Лилия Родзевич<br/>
                            +375293077177<br/>
                            Адрес: ул.Бурдейного 14<br/>
                            https://www.instagram.com/beauty_lilia_/
                        </li>
                        <li>Мельникова Ольга<br/>
                            +375292512793<br/>
                            https://www.instagram.com/cosmetolog_melnikova/
                        </li>
                        <li>Головач Ольга<br/>
                            +375296666513<br/>
                            Адрес: ул.Тимирязева 2<br/>
                            https://www.instagram.com/skinexpert_minsk/
                        </li>
                        <li>Богдан Кристина<br/>
                            +375333560036<br/>
                            Адрес: пер. Тучинский 4,студия Бьюти_мо<br/>
                            https://www.instagram.com/kriss_mo_/
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Брест</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375447870253
                            <br/>
                            https://www.instagram.com/me_cosmetology/
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Могилев</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375447870253
                            <br/>
                            https://www.instagram.com/me_cosmetology/
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Витебск</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375447870253
                            <br/>
                            https://www.instagram.com/me_cosmetology/
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Гомель</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375447870253
                            <br/>
                            https://www.instagram.com/me_cosmetology/
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Гродно</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375447870253
                            <br/>
                            <span>
                                <a href="https://www.instagram.com/me_cosmetology/" target="_blank"
                                   rel="noreferrer noopener">
                                    https://www.instagram.com/me_cosmetology/
                                </a>
                            </span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            var content = this.parentNode.nextElementSibling;
            if (content.classList.contains('m-fadeIn')) {
                content.classList.remove('m-fadeIn');
                content.classList.add('m-fadeOut');
                this.classList.remove('icon_collapsed');
            }
            else {
                content.classList.remove('m-fadeOut');
                content.classList.add('m-fadeIn');
                this.classList.add('icon_collapsed');
            }

        });
    }
</script>