<section id="partners" class="partners">
    <div class="container">
        <div class="partners__inner">
            <img src="../assets/img/Gecko_main_logo.svg" class="partners__logo" alt="Partners Gecko Logo">
            <div class="partners__title">Наши партнеры в Республике Беларусь</div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Минск</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png">
                        <img class="icon_closed" src="../assets/img/closed.png">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Королецкая
                            <br/>Адрес: пер.Войсковый, 13
                            <br/>
                            +375295702611
                            <br/>
                            <span>
                                <a href="https://www.instagram.com/Morkva_cosmetology/" target="_blank"
                                   rel="noreferrer noopener">
                                    https://www.instagram.com/Morkva_cosmetology/
                                </a>
                            </span>
                        </li>
                        <li>
                            Татьяна Кильчевская-Николайчик
                            <br/>
                            Адрес: пр-т Победителей 75/1, Бьюти дом "Сорока"
                            <br/>
                            +375447276289<br/>
                            <a href="https://www.instagram.com/slim_beauty_room/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/slim_beauty_room/
                            </a>
                        </li>
                        <li>Полина Миронова<br/>
                            +375292943863<br/>
                            Адрес: ул.Мельникайте 2, 7 этаж, каб 709<br/>
                            <a href="https://www.instagram.com/polina.proface/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/polina.proface/
                            </a>
                        </li>
                        <li>Светлана Ерофеева<br/>
                            +375336363173<br/>
                            Адрес: ул.К.Чорного 5а<br/>
                            <a href="https://www.instagram.com/cosmetik.by/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/cosmetik.by/
                            </a>
                        </li>
                        <li>Подлешук Татьяна<br/>
                            +37529-604-44-17<br/>
                            Адрес: Гостиница Планета, пр.Победителей, 31/1<br/>
                            <a href="https://www.instagram.com/kosmetolog_missistatti/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/kosmetolog_missistatti/
                            </a>
                        </li>
                        <li>Наталия Ерошенок<br/>
                            <a href="https://www.instagram.com/organic_bar_by/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/organic_bar_by/
                            </a>
                        </li>
                        <li>Ходько Анна<br/>
                            +375447560050<br/>
                            Адрес: пр-т Победителей, 125<br/>
                            <a href="https://www.instagram.com/annak_kosmetolog/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/annak_kosmetolog/
                            </a>
                        </li>
                        <li>Шимко Людмила<br/>
                            +375297711753<br/>
                            Адрес: ул.Пушкина, 41<br/>
                            <a href="https://www.instagram.com/cosmetic_nurse_luidmila/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/cosmetic_nurse_luidmila/
                            </a>
                        </li>
                        <li>Ковалевская Марианна<br/>
                            +375296923975<br/>
                            Адрес: ул.Я.Коласа, 69<br/>
                            <a href="https://www.instagram.com/marianneta69gmail/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/marianneta69gmail/
                            </a>
                        </li>
                        <li>ШКОЛА КОСМЕТОЛОГИИ «МЕЛЕОР»<br/>
                            <a href="https://www.instagram.com/meleor_education/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/meleor_education/
                            </a>
                        </li>
                        <li>Лилия Родзевич<br/>
                            +375293077177<br/>
                            Адрес: ул.Бурдейного, 14<br/>
                            <a href="https://www.instagram.com/beauty_lilia_/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/beauty_lilia_/
                            </a>
                        </li>
                        <li>Мельникова Ольга<br/>
                            +375292512793<br/>
                            <a href="https://www.instagram.com/cosmetolog_melnikova/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/cosmetolog_melnikova/
                            </a>
                        </li>
                        <li>Головач Ольга<br/>
                            +375296666513<br/>
                            Адрес: ул.Тимирязева, 2<br/>
                            <a href="https://www.instagram.com/skinexpert_minsk/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/skinexpert_minsk/
                            </a>
                        </li>
                        <li>Богдан Кристина<br/>
                            +375333560036<br/>
                            Адрес: пер. Тучинский 4, студия Бьюти_мо<br/>
                            <a href="https://www.instagram.com/kriss_mo_/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/kriss_mo_/
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Минская область</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Брановец Лилия
                            <br/> Адрес: пр-т Машерова 23а
                            <br/>
                            +375333443450
                            <br/>
                            <a href="https://www.instagram.com/kosmetolog_liliyabrest/?hl=ru" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/kosmetolog_liliyabrest/?hl=ru
                            </a>
                        </li>
                        <li>Тарасенко Людмила
                            <br/>Адрес: ул.Машерова, 18
                            <br/>
                            +375297269226
                            <br/>
                            <a href="https://www.instagram.com/cosmetolog_liudmila/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/cosmetolog_liudmila/
                            </a>
                        </li>
                        <li>Вязгичева Юлия
                            <br/>Адрес: ул.Советская, 29
                            <br/>
                            +375297262302
                            <br/>
                            <a href="https://www.instagram.com/yulia_viazgichava/" target="_blank"
                               rel="noreferrer noopener">
                                https://www.instagram.com/yulia_viazgichava/
                            </a>
                        </li>
                        4.Польянюк Светлана

                        Адрес: г. Брест, ул. Воровского,31

                        +375295288296
                        https://www.instagram.com/kosmetolog_brest_svetlana/

                        5.Цой Марина

                        Адрес: г. Брест, ул. Сикорского, 82

                        +375336097607
                        https://www.instagram.com/mtkosmetik_brest/


                        6. Студия Эстетической красоты Ксении Уевич

                        Адрес: г. Брест, ул. Гоголя, 65

                        +375297269342

                        https://www.instagram.com/kosmetolog_ksenia_brest/

                        7.Лыскович Анна

                        Адрес: г. Брест, ул. Халтурина, 2/1
                        https://www.instagram.com/cosmetolog_doctor_anna/

                        ​

                        8.Южакова Юлия

                        Адрес: г. Брест, ул. Халтурина 2/1

                        +375295230991
                        https://www.instagram.com/iuzhakova35_kosmetik/


                        9.Климович Юлия

                        Адрес: г. Брест, ул. Советская,34

                        +375292297689
                        https://www.instagram.com/salon_affabel/

                        ​

                        10.Бухта Татьяна

                        Адрес: г. Брест, ул. Бульвар Шевченко, 6
                        +375297690136
                        https://www.instagram.com/cosmetolog.wowface/

                        ​

                        11.Мокина Яна

                        Адрес: г. Брест, ул. Донского,12а

                        +375336081227
                        https://www.instagram.com/yana_cosmetolog_brest/

                        ​

                        12.Магамадова Калима

                        Адрес: г. Брест
                        +375292022155
                        https://www.instagram.com/beauty_balans/

                        ​

                        13.Василевич Марина

                        Адрес: г. Брест, гостиница "Интурист"
                        https://www.instagram.com/cosmetolog.vasilevich/

                        14.Ольга Китель

                        Адрес: г. Брест, ул. Бульвар Шевченко, 6

                        +375297966162
                        https://www.instagram.com/kosmetolog.piling/

                        ​

                        15.Инна Коцюбко

                        Адрес: г. Брест
                        +375297928982
                        https://www.instagram.com/innakotsiubko/



                        16.Зданевич Рита

                        Адрес: г. Брест, ул. Островского,8
                        +375295703034
                        https://www.instagram.com/rita.micha_/

                        ​

                        17.Холод Кристина

                        Адрес: г. Брест, ул.Гоголя д.82

                        +375 33 319 70 70

                        https://www.instagram.com/kristina._.holod/



                        18.Татьяна Баранова

                        Адрес: г. Брест, ул.К.Маркса,33

                        +37529-691-63-00

                        https://www.instagram.com/dr_tatiana_brest/



                        19.Качаловская Ольга

                        Адрес: г. Брест, косметология СтрекоZа, ул. Мошенского,82

                        +375297925390

                        https://www.instagram.com/cosmetikbrest/



                        20.Пачко Алина

                        Адрес: г. Брест, ул. Советская 91, 3й этаж

                        https://www.instagram.com/kosmetikbrest/



                        21.Бурбуть Людмила

                        Адрес: г. Брест, ул. Машерова, 15/1 каб.404

                        https://www.instagram.com/lbcosmetic.by/

                        ​

                        22.Глухова Юлия

                        Адрес: г. Брест, ул. Краснознаменная, 2, каб. 2
                        https://www.instagram.com/julia_cosmetolog_brest/

                        ​

                        23.Тетерук Наталия

                        Адрес: г. Кобрин, ул. Дзержинского, 5

                        +375298446888
                        https://www.instagram.com/vashcosmetolog_kobrin/


                        24.Злотник Дарья

                        Адрес: г. Кобрин, ул. Дзержинского, 24а, 3-й этаж

                        +375297257959
                        https://www.instagram.com/darya_kosmetologistkobrin/



                        25.Суббота Анна

                        Адрес: г. Кобрин, ул. Советская, 7

                        +375292090365
                        https://www.instagram.com/hanna.cosmo/

                        ​

                        26."SPA Salon Thai", Татьяна Володько

                        Адрес: г. Пинск, ул. Брестская, 72Д
                        +375291032149

                        https://www.instagram.com/spasalon_thai/
                        https://www.instagram.com/tatsiana_cosmetologist/



                        27.Ксёндзык Юлия

                        Адрес: г. Пинск, ул. Днепровской Флотилии, 31

                        +375447576200
                        https://www.instagram.com/kosmetik_ksi_yuliya/

                        ​

                        28.Демчук Людмила

                        Адрес: г. Пинск, ул. Ленина, 36
                        +375295703034
                        https://www.instagram.com/dr.demchuk_cosmetolog/

                        ​

                        29.Русина Ольга

                        Адрес: г. Пинск, ул.ИПД 50

                        https://www.instagram.com/olga_kosmeti/

                        ​

                        30.Хомич Наталья

                        Адрес: г. Пинск,ул.Черняховского,34

                        https://www.instagram.com/studia.sky/

                        ​

                        31.Чагина Ольга

                        Адрес: г. Барановичи, б-р Хейнола. 8

                        +375297294633
                        https://www.instagram.com/chagina_studio/



                        32.Королько Марина

                        Адрес: г. Барановичи, ул. Царюка, 18
                        +375297978749
                        https://www.instagram.com/salon_estetica_mk/?igshid=YmMyMTA2M2Y=

                        ​

                        33.Минайлова Ольга

                        Адрес: г. Барановичи, ул. Энтузиастов, 2В
                        https://www.instagram.com/olga.cosmoss/

                        ​

                        34.Гарбар Анна
                        Адрес: г. Белоозерск, ул.Строителей 17, поликлиника,каб 205
                        +375292042100
                        https://www.instagram.com/newyoubeloozersk/

                        ​

                        35.Голубь Екатерина

                        Адрес: г. Белоозерск/Береза

                        ул. Ленина, 9а

                        +375336071888
                        https://www.instagram.com/beauty_katriss/

                        36.Студия "Relax"

                        Адрес: г. Береза, ул. Ленина,69
                        https://www.instagram.com/studiorelax_bereza/



                        37.Жогальская Елена
                        Адрес: г. Ивацевичи, ул. Депутатская, 43,
                        https://www.instagram.com/elen_studio__/

                        ​

                        38.Зарецкая Юлия

                        Адрес: г. Жабинка, ул. Кирова, 70
                        https://www.instagram.com/kosmetik_estetist_yuliya/

                        ​

                        39.Дорогокупец Мария

                        Адрес: г. Иваново
                        https://www.instagram.com/cosmo_mariya/?utm_medium=copy_link

                        ​

                        40.Бруцкая Мария

                        Адрес: г. Столин

                        https://www.instagram.com/cosmetologist.stolin.maria/



                        41.Борсук Анна

                        Адрес: г.п.Телеханы

                        https://www.instagram.com/ann_cosmetic__/
                        <li>
                            Татьяна Кильчевская-Николайчик<br/>
                            Адрес: пр.Победителей 75/1,Бьюти дом "Сорока"<br/>
                            +375447276289<br/>
                            https://www.instagram.com/slim_beauty_room/
                        </li>
                        <li>Полина Миронова<br/>
                            +375292943863<br/>
                            Адрес: ул.Мельникайте 2,7 этаж, каб 709<br/>
                            https://www.instagram.com/polina.proface/
                        </li>
                        <li>Светлана Ерофеева<br/>
                            +375336363173<br/>
                            Адрес: ул.К.Чорного 5а<br/>
                            https://www.instagram.com/cosmetik.by/
                        </li>
                        <li>Подлешук Татьяна<br/>
                            +37529-604-44-17<br/>
                            Адрес: Гостиница Планета, пр.Победителей, 31/1<br/>
                            https://www.instagram.com/kosmetolog_missistatti/
                        </li>
                        <li>Наталия Ерошенок<br/>
                            https://www.instagram.com/organic_bar_by/
                        </li>
                        <li>Ходько Анна<br/>
                            +375447560050<br/>
                            Адрес: пр-т Победителей, 125<br/>
                            https://www.instagram.com/annak_kosmetolog/
                        </li>
                        <li>Шимко Людмила<br/>
                            +375297711753<br/>
                            Адрес: ул.Пушкина 41<br/>
                            https://www.instagram.com/cosmetic_nurse_luidmila/
                        </li>
                        <li>Ковалевская Марианна +375296923975<br/>
                            Адрес: ул.Я.Коласа 69<br/>
                            https://www.instagram.com/marianneta69gmail/
                        </li>
                        <li>ШКОЛА КОСМЕТОЛОГИИ «МЕЛЕОР»<br/>
                            https://www.instagram.com/meleor_education/
                        </li>
                        <li>Лилия Родзевич<br/>
                            +375293077177<br/>
                            Адрес: ул.Бурдейного 14<br/>
                            https://www.instagram.com/beauty_lilia_/
                        </li>
                        <li>Мельникова Ольга<br/>
                            +375292512793<br/>
                            https://www.instagram.com/cosmetolog_melnikova/
                        </li>
                        <li>Головач Ольга<br/>
                            +375296666513<br/>
                            Адрес: ул.Тимирязева 2<br/>
                            https://www.instagram.com/skinexpert_minsk/
                        </li>
                        <li>Богдан Кристина<br/>
                            +375333560036<br/>
                            Адрес: пер. Тучинский 4,студия Бьюти_мо<br/>
                            https://www.instagram.com/kriss_mo_/
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Брест</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375447870253
                            <br/>
                            https://www.instagram.com/me_cosmetology/
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Могилев</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375447870253
                            <br/>
                            https://www.instagram.com/me_cosmetology/
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Витебск</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375447870253
                            <br/>
                            https://www.instagram.com/me_cosmetology/
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Гомель</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375447870253
                            <br/>
                            https://www.instagram.com/me_cosmetology/
                        </li>
                    </ol>
                </div>
            </div>
            <div class="partners__item">
                <div class="partners__item-group">
                    <div class="partners__title">Гродно</div>
                    <div class="union-group partners__item-button collapsible">
                        <img class="icon_arrow" src="../assets/img/Union.png" alt="img-collapsed">
                        <img class="icon_closed" src="../assets/img/closed.png" alt="img-closed">
                    </div>
                </div>
                <div class="content m-fadeOut">
                    <ol type="1">
                        <li>Марковская Елена, Ольга Зуйко
                            <br/>Адрес: ул.Комсомольская, 18
                            <br/>
                            +375295702611
                            <br/>
                            <span>
                                <a href="https://www.instagram.com/Morkva_cosmetology/" target="_blank"
                                   rel="noreferrer noopener">
                                    https://www.instagram.com/Morkva_cosmetology/
                                </a>
                            </span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            var content = this.parentNode.nextElementSibling;
            if (content.classList.contains('m-fadeIn')) {
                content.classList.remove('m-fadeIn');
                content.classList.add('m-fadeOut');
                this.classList.remove('icon_collapsed');
            }
            else {
                content.classList.remove('m-fadeOut');
                content.classList.add('m-fadeIn');
                this.classList.add('icon_collapsed');
            }
        });
    }
</script>