<section class="products">
    <div class="container">
        <div class="products__title title">Наши продукты</div>
        <div class="products__line row">
            <div class="products__col col">
                <div class="product__card card text-white">
                    <img src="../assets/img/products/Gecko_WHITENING.png" class="product__card-img" alt="..." width="280" height="431">
                    <div class="product__card_active">
                        <h5 class="card-title">WHITENING SERUM</h5>
                        <p class="card-text">Лёгкая сыворотка на водной основе. Быстро впитывается, не оставляя ощущения плёнки.</p>
                        <div class="card-img-overlay"></div>
                    </div>
                </div>
            </div>
            <div class="products__col col">
                <div class="card text-white">
                    <img src="../assets/img/products/Gecko_WHITENING.png" class="product-card-img" alt="..." width="280" height="431">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
            <div class="products__col col">
                <div class="card text-white">
                    <img src="../assets/img/products/Gecko_WHITENING.png" class="product-card-img" alt="..." width="280" height="431">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>