<section class="products">
    <div class="container">
        <div class="products__title title">Наши продукты</div>
        <div class="products__inner">
            <div class="products__line row">
                <div class="products__col col">
                    <div class="products__card card text-white">
                        <img src="../assets/img/products/Gecko_WHITENING.png" class="products__card-img" alt="..." width="280" height="431">
                        <div class="products__card_active">
                            <h5 class="card-title">WHITENING SERUM</h5>
                            <p class="card-text">Лёгкая сыворотка на водной основе. Быстро впитывается, не оставляя ощущения плёнки.</p>
                            <div class="products__card-more-block">
                                <button class="products__card-more-btn">Подробнее</button>
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                    <div class="products__card-sub-title">WHITENING SERUM</div>
                </div>
                <div class="products__col col">
                    <div class="products__card card text-white">
                        <img src="../assets/img/products/Gecko_ANTIOXIDANT_SERUM.png" class="products__card-img" alt="..." width="280" height="431">
                        <div class="products__card_active">
                            <h5 class="card-title">ANTIOXIDANT SERUM</h5>
                            <p class="card-text">Гелеобразная сыворотка. <br>Не содержит масел и жиров, имеет лёгкую, воздушную консистенцию.</p>
                            <div class="products__card-more-block">
                                <button class="products__card-more-btn">Подробнее</button>
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                    <div class="products__card-sub-title">ANTIOXIDANT SERUM</div>
                </div>
                <div class="products__col col">
                    <div class="products__card card text-white">
                        <img src="../assets/img/products/Gecko_ForMen.png" class="products__card-img" alt="..." width="280" height="431">
                        <div class="products__card_active">
                            <h5 class="card-title">FOR MEN</h5>
                            <p class="card-text">Лёгкая сыворотка в виде бархатистой эмульсии. Мгновенно впитывается, не оставляя ощущения липкости. Может использоваться как самостоятельное средство - не требует обязательного закрытия кремом.</p>
                            <div class="products__card-more-block">
                                <button class="products__card-more-btn">Подробнее</button>
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                    <div class="products__card-sub-title">FOR MEN</div>
                </div>
            </div>
            <div class="products__line row">
                <div class="products__col col">
                    <div class="products__card card text-white">
                        <img src="../assets/img/products/Gecko_ANTI-ACNE_COMPLEX.png" class="products__card-img" alt="..." width="280" height="431">
                        <div class="products__card_active">
                            <h5 class="card-title">ANTI-ACNE COMPLEX</h5>
                            <p class="card-text">Лёгкая сыворотка на водной основе. Быстро впитывается, не оставляя ощущения плёнки. Не закупоривает поры, не оставляет жирного блеска.</p>
                            <div class="products__card-more-block">
                                <button class="products__card-more-btn">Подробнее</button>
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                    <div class="products__card-sub-title">ANTI-ACNE COMPLEX</div>
                </div>
                <div class="products__col col">
                    <div class="products__card card text-white">
                        <img src="../assets/img/products/Gecko_ANTI-AGE_COMPLEX.png" class="products__card-img" alt="..." width="280" height="431">
                        <div class="products__card_active">
                            <h5 class="card-title">ANTI-AGE COMPLEX</h5>
                            <p class="card-text">Двухфазная сыворотка в виде лёгкой бархатистой эмульсии. Может использоваться как самостоятельное средство - не требует обязательного закрытия кремом.</p>
                            <div class="products__card-more-block">
                                <button class="products__card-more-btn">Подробнее</button>
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                    <div class="products__card-sub-title">ANTI-AGE COMPLEX</div>
                </div>
                <div class="products__col col">
                    <div class="products__card card text-white">
                        <img src="../assets/img/products/Gecko_POLYGLUTAMIC_ACID_SERUM.png" class="products__card-img" alt="..." width="280" height="431">
                        <div class="products__card_active">
                            <h5 class="card-title">POLYGLUTAMIC ACID SERUM</h5>
                            <p class="card-text">Лёгкая сыворотка на водной основе. Прекрасное дополнение к базовому домашнему уходу. Быстро впитывается, не утяжеляет.</p>
                            <div class="products__card-more-block">
                                <button class="products__card-more-btn">Подробнее</button>
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                    <div class="products__card-sub-title">POLYGLUTAMIC ACID SERUM</div>
                </div>
            </div>
        </div>
    </div>
</section>