<ol type="1">
    <li>Брановец Лилия<br>

        Адрес: г. Брест, пр-т Машерова 23а<br>
        +375333443450<br>
        <a href="https://www.instagram.com/kosmetolog_liliyabrest/?hl=ru" target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog_liliyabrest/?hl=ru</a>
    </li>
    <li>
        Тарасенко Людмила<br>

        Адрес: г. Брест, ул. Машерова, 18<br>

        +375297269226<br>
        <a href="https://www.instagram.com/cosmetolog_liudmila/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog_liudmila/</a>

    </li>
    <li>Вязгичева Юлия<br>

        Адрес: г. Брест, ул. Советская, 29<br>

        +375297262302<br>
        <a href="https://www.instagram.com/yulia_viazgichava/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/yulia_viazgichava/</a>

    </li>
    <li>Польянюк Светлана<br>

        Адрес: г. Брест, ул. Воровского, 31<br>

        +375295288296<br>
        <a href="https://www.instagram.com/kosmetolog_brest_svetlana/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog_brest_svetlana/</a>
    </li>
    <li>Цой Марина<br>

        Адрес: г. Брест, ул. Сикорского, 82<br>

        +375336097607<br>
        <a href="https://www.instagram.com/mtkosmetik_brest/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/mtkosmetik_brest/</a>
    </li>
    <li>Студия Эстетической красоты Ксении Уевич<br>

        Адрес: г. Брест, ул. Гоголя, 65<br>

        +375297269342<br>

        <a href="https://www.instagram.com/kosmetolog_ksenia_brest/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog_ksenia_brest/</a>
    </li>
    <li>Лыскович Анна<br>

        Адрес: г. Брест, ул. Халтурина, 2/1<br>
        <a href="https://www.instagram.com/cosmetolog_doctor_anna/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog_doctor_anna/</a>
    </li>
    <li>Южакова Юлия<br>

        Адрес: г. Брест, ул. Халтурина 2/1<br>

        +375295230991<br>
        <a href="https://www.instagram.com/iuzhakova35_kosmetik/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/iuzhakova35_kosmetik/</a>
    </li>
    <li>Климович Юлия<br>

        Адрес: г. Брест, ул. Советская, 34<br>

        +375292297689<br>
        <a href="https://www.instagram.com/salon_affabel/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/salon_affabel/</a>

    </li>
    <li>Бухта Татьяна&nbsp;<br>

        Адрес: г. Брест, ул. Бульвар Шевченко, 6<br>
        +375297690136<br>
        <a href="https://www.instagram.com/cosmetolog.wowface/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog.wowface/</a>

    </li>
    <li>Мокина Яна&nbsp;<br>

        Адрес: г. Брест, ул. Донского, 12а<br>

        +375336081227<br>
        <a href="http://www.instagram.com/yana_cosmetolog_brest/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/yana_cosmetolog_brest/</a>

    </li>
    <li>Магамадова Калима<br>

        Адрес: г. Брест<br>
        +375292022155<br>
        <a href="https://www.instagram.com/beauty_balans/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/beauty_balans/</a>

    </li>
    <li>Василевич Марина<br>

        Адрес: г. Брест, гостиница "Интурист"<br>
        <a href="http://www.instagram.com/cosmetolog.vasilevich/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog.vasilevich/</a>
    </li>
    <li>Ольга Китель<br>

        Адрес: г. Брест, ул. Бульвар Шевченко, 6<br>

        +375297966162<br>
        <a href="https://www.instagram.com/kosmetolog.piling/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog.piling/</a>

    </li>
    <li>Инна Коцюбко<br>

        Адрес: г. Брест<br>
        +375297928982<br>
        <a href="https://www.instagram.com/innakotsiubko/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/innakotsiubko/</a>

    </li>
    <li>Зданевич Рита<br>

        Адрес: г. Брест, ул. Островского, 8<br>
        +375295703034<br>
        <a href="https://www.instagram.com/rita.micha_/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/rita.micha_/</a>

    </li>
    <li>Холод Кристина<br>

        Адрес: г. Брест, ул.Гоголя д.82<br>

        +375 33 319 70 70<br>

        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fkristina._.holod%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kristina._.holod/</a>
    </li>
        <li>Татьяна Баранова<br>

        Адрес: г. Брест, ул.К.Маркса, 33<br>

        +37529-691-63-00<br>

        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fdr_tatiana_brest%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/dr_tatiana_brest/</a>
    </li>
    <li>Качаловская Ольга<br>

        Адрес: г. Брест, косметология СтрекоZа, ул. Мошенского, 82<br>

        +375297925390<br>

        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fcosmetikbrest%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetikbrest/</a>
    </li>
    <li>Пачко Алина<br>

        Адрес: г. Брест, ул. Советская 91, 3й этаж<br>

        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fkosmetikbrest%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetikbrest/</a>

    </li>
    <li>Бурбуть Людмила<br>

        Адрес: г. Брест, ул. Машерова, 15/1 каб.404<br>

        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Flbcosmetic.by%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/lbcosmetic.by/</a>

    </li>
    <li>Глухова Юлия<br>

        Адрес: г. Брест, ул. Краснознаменная, 2, каб. 2<br>
        <a href="https://www.instagram.com/julia_cosmetolog_brest/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/julia_cosmetolog_brest/</a>

    </li>
    <li>Тетерук Наталия<br>

        Адрес: г. Кобрин, ул. Дзержинского, 5<br>

        +375298446888<br>
        <a href="https://www.instagram.com/vashcosmetolog_kobrin/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/vashcosmetolog_kobrin/</a>

    </li>
    <li>Злотник Дарья<br>

        Адрес: г. Кобрин, ул. Дзержинского, 24а, 3-й этаж<br>

        +375297257959<br>
        <a href="https://www.instagram.com/darya_kosmetologistkobrin/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/darya_kosmetologistkobrin/</a>

    </li>
    <li>Суббота Анна<br>

        Адрес: г. Кобрин, ул. Советская, 7<br>

        +375292090365<br>
        <a href="https://www.instagram.com/hanna.cosmo/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/hanna.cosmo/</a>

    </li>
    <li><span style="font-weight:bold;">"SPA Salon Thai", </span>Татьяна Володько<br>

        Адрес: г. Пинск, ул. Брестская, 72Д<br>
        +375291032149<br>

        <a data-auto-recognition="true" href="https://www.instagram.com/spasalon_thai/" target="_blank">https://www.instagram.com/spasalon_thai/</a><br>
        <a href="https://www.instagram.com/tatsiana_cosmetologist/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/tatsiana_cosmetologist/</a>

    </li>
    <li>Ксёндзык Юлия<br>

        Адрес: г. Пинск, ул. Днепровской Флотилии, 31<br>

        +375447576200<br>
        <a href="https://www.instagram.com/kosmetik_ksi_yuliya/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetik_ksi_yuliya/</a>

    </li>
    <li>Демчук Людмила<br>

        Адрес: г. Пинск, ул. Ленина, 36<br>
        +375295703034<br>
        <a href="https://www.instagram.com/dr.demchuk_cosmetolog/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/dr.demchuk_cosmetolog/</a>

    </li>
    <li>Русина Ольга<br>

        Адрес: г. Пинск, ул.ИПД 50<br>

        <a data-auto-recognition="true" href="https://www.instagram.com/olga_kosmeti/" target="_blank">https://www.instagram.com/olga_kosmeti/</a>

    </li>
    <li>Хомич Наталья<br>

        Адрес: г. Пинск,ул.Черняховского, 34<br>

        <a data-auto-recognition="true" href="https://www.instagram.com/studia.sky/" target="_blank">https://www.instagram.com/studia.sky/</a>

    </li>
    <li>Чагина Ольга<br>

        Адрес: г. Барановичи, б-р Хейнола. 8<br>

        +375297294633<br>
        <a href="https://www.instagram.com/chagina_studio/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/chagina_studio/</a>

    </li>
    <li>Королько Марина&nbsp;<br>

        Адрес: г. Барановичи, ул. Царюка, 18<br>
        +375297978749<br>
        <a href="https://www.instagram.com/salon_estetica_mk/?igshid=YmMyMTA2M2Y=" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/salon_estetica_mk/?igshid=YmMyMTA2M2Y=</a>

    </li>
    <li>Минайлова Ольга<br>

        Адрес: г. Барановичи, ул. Энтузиастов, 2В<br>
        <a href="https://www.instagram.com/olga.cosmoss/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/olga.cosmoss/</a>

    </li>
    <li>Гарбар Анна<br>
        Адрес: г. Белоозерск, ул.Строителей 17, поликлиника, каб 205<br>
        +375292042100<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/newyoubeloozersk/" target="_blank">https://www.instagram.com/newyoubeloozersk/</a>

    </li>
    <li>Голубь Екатерина<br>

        Адрес: г. Белоозерск/Береза<br>

        ул. Ленина, 9а<br>

        +375336071888<br>
        <a href="https://www.instagram.com/beauty_katriss/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/beauty_katriss/</a>
    </li>
    <li>Студия "Relax"<br>

        Адрес: г. Береза, ул. Ленина, 69<br>
        <a href="https://www.instagram.com/studiorelax_bereza/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/studiorelax_bereza/</a>

    </li>
    <li>Жогальская Елена&nbsp;<br>
        Адрес: г. Ивацевичи, ул. Депутатская, 43<br>
        <a href="https://www.instagram.com/elen_studio__/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/elen_studio__/</a>

    </li>
    <li>Зарецкая Юлия<br>

        Адрес: г. Жабинка, ул. Кирова, 70<br>
        <a href="https://www.instagram.com/kosmetik_estetist_yuliya/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetik_estetist_yuliya/</a>

    </li>
    <li>Дорогокупец Мария<br>

        Адрес: г. Иваново<br>
        <a href="https://www.instagram.com/cosmo_mariya/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/cosmo_mariya/?utm_medium=copy_link</a>

    </li>
    <li>Бруцкая Мария<br>

        Адрес: г. Столин<br>

        <a data-auto-recognition="true" href="https://www.instagram.com/cosmetologist.stolin.maria/" target="_blank">https://www.instagram.com/cosmetologist.stolin.maria/</a>

    </li>
    <li>Борсук Анна<br>

        Адрес: г.п.Телеханы<br>

        <a data-auto-recognition="true" href="https://www.instagram.com/ann_cosmetic__/" target="_blank">https://www.instagram.com/ann_cosmetic__/</a>
    </li>
</ol>