<ol type="1">
    <li>Шевченко Татьяна<br>
        Адрес: г. Гомель, ул. Жарковского, 26<br>
        +375291815541<br>
        <a href="https://www.instagram.com/cosmetolog_tatianaa/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/cosmetolog_tatianaa/?utm_medium=copy_link</a>
    </li>
    <li>
        Басова Екатерина<br>
        Адрес: г. Гомель, ул. Жарковского, 26<br>
        +375293557500<br>
        <a href="https://www.instagram.com/e.b.academy/?utm_medium=copy_link" target="_blank" rel="noreferrer noopener">https://www.instagram.com/e.b.academy/?utm_medium=copy_link</a>
    </li>
    <li>Елена Гнатюк<br>
        Адрес: г. Гомель<br>
        +375296565814<br>
        <a href="https://www.instagram.com/elena_hnatsiuk/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/elena_hnatsiuk/?utm_medium=copy_link</a>
    </li>
    <li>Жигулич Юлия<br>
        Адрес: г. Гомель, ул. Ландышева,59&nbsp;<br>
        <a href="https://www.instagram.com/dr.cosmetolog_gomel/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/dr.cosmetolog_gomel/?utm_medium=copy_link</a>
    </li>
    <li>Снежана Бондарь<br>
        Адрес: г. Гомель, ул.60 лет СССР, д. 8<br>
        <a href="https://www.instagram.com/kosmetik_snejana/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/kosmetik_snejana/?utm_medium=copy_link</a>
    </li>
    <li>Воронежцева Екатерина<br>
        Адрес: г. Гомель<br>
        +375291723494<br>
        <a href="https://www.instagram.com/katiajaaa_cosmetology/" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/katiajaaa_cosmetology/</a>
    </li>
    <li>Мальцева Валентина<br>
        Адрес: г. Гомель, ул. Федосеенко, 4<br>
        +375293573240<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fmalcevaby%2F" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/malcevaby/</a>
    </li>
    <li>Жук Алеся<br>
        Адрес: г. Гомель, Речицкий проспект 5A, каб 16<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fskinbar.by%2F%3Futm_medium%3Dcopy_link"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/skinbar.by/</a>
    </li>
    <li>Дробышевская Светлана&nbsp;<br>
        Адрес: г. Гомель<br>
        +375255437397<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/nogotokbrend/" target="_blank">https://www.instagram.com/nogotokbrend/</a>
    </li>
    <li>Любимова Диана<br>
        Адрес: г. Гомель<br>
        +375293235060<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/liubimova.di/?utm_medium=copy_link"
           target="_blank">https://www.instagram.com/liubimova.di/?utm_medium=copy_link</a>
    </li>
    <li>Бычковская Татьяна<br>
        Адрес: г. Гомель<br>
        +375447717117&nbsp;<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/bamboo_beauty_salon/" target="_blank">https://www.instagram.com/bamboo_beauty_salon/</a>
    </li>
    <li>Иванова Елена<br>
        Адрес: г. Гомель, ул. Киселева,6<br>
        +375445377208<br>
        <a href="https://www.instagram.com/cosmetologlenagomel/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/cosmetologlenagomel/?utm_medium=copy_link</a>
    </li>
    <li>Юдина Лариса<br>
        Адрес: г. Гомель, ул. Советская, 134Б<br>
        +375291372028<br>
        <a href="https://www.instagram.com/cosmetologlenagomel/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/cosmetologlenagomel/?utm_medium=copy_link</a>
    </li>
    <li>Панова Алина<br>
        Адрес: г. Гомель, ул.Ландышева 59, кабинет 41<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/cosm.alina/" target="_blank">https://www.instagram.com/cosm.alina/</a>
    </li>
    <li>Овсянникова Дарина<br>
        Адрес: г.Речица<br>
        <a href="https://www.instagram.com/elena_hnatsiuk/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/dr_darina_kosmetolog/?utm_medium=copy_link</a>
    </li>
    <li>Татьяна Алексюк<br>
        Адрес: г.Речица<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Finstagram.com%2Ftatyana_aleksjuk%3Futm_medium%3Dcopy_link"
           target="_blank" rel="noreferrer noopener">https://instagram.com/tatyana_aleksjuk</a>
    </li>
    <li>Сидорович Тамара<br>
        г. Жлобин, ул. Петровского, 44<br>
        <a href="https://www.instagram.com/tomacosmetolog_harmony/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/tomacosmetolog_harmony/?utm_medium=copy_link</a>
    </li>
    <li>Лагунова Олеся<br>
        г.Жлобин , ул.Петровского 44, каб 202<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Finstagram.com%2Flesia_kosmetolog%3Futm_medium%3Dcopy_link"
           target="_blank" rel="noreferrer noopener">https://instagram.com/lesia_kosmetolog</a>
    </li>
    <li> Галуза Наталья<br>
        г. Жлобин, Мкрн1 д.10 пом. 16<br>
        +375 29 174 86 42<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fcosmetolog_haluza%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog_haluza/</a>
    </li>
    <li>Сныткова Ольга<br>
        г. Жлобин, ул.Петровского 44, кабинет 404<br>
        <a href="https://www.instagram.com/kleo_zhlobin/" target="_blank">https://www.instagram.com/kleo_zhlobin/</a>
    </li>
    <li>Зубрей Татьяна<br>
        г.п. Лельчицы<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Finstagram.com%2Fwith_beauty_lel%3Futm_medium%3Dcopy_link"
           target="_blank" rel="noreferrer noopener">https://instagram.com/with_beauty_lel</a>
    </li>
    <li>Рабинюк Наталья<br>
        Адрес: г. Мозырь<br>
        +375298306920<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fkosmetolog_mozyr_%2F%3Futm_medium%3Dcopy_link"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog_mozyr_/</a>
    </li>
    <li>Стецюк Александра<br>
        Адрес: г. Мозырь, Салон Релакс, Котловца, 8<br>
        +375336155040<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Flach_alex_mozyr_kosmetolog%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/lach_alex_mozyr_kosmetolog/</a>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fkosmetolog_mozyr_relax%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog_mozyr_relax/</a>
    </li>
    <li>Булгэре Елена<br>
        Адрес: г. Мозырь, Центр красоты Идеаль, ул. Пролетарская, 8<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/elena_cosmetolog_belarus/" target="_blank">https://www.instagram.com/elena_cosmetolog_belarus/</a>
    </li>
    <li>Михневич Наталья<br>
        Адрес: г. Мозырь<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/kosmetolog_natalia_mozyr/" target="_blank">https://www.instagram.com/kosmetolog_natalia_mozyr/</a>
    </li>
    <li>Акимова Алена<br>
        Адрес: д.Березки<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fkosmetik_estetik_alena%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetik_estetik_alena/</a>
    </li>
    <li>Горбач Юлия<br>
        Адрес: г.Светлогорск<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/new_skin.y/" target="_blank">https://www.instagram.com/new_skin.y/</a>
    </li>
</ol>