<ol type="1">
    <li>Бондаревич Татьяна<br>

        Адрес: г. Гродно, ул 17 сентября 49, каб 308<br>

        +375295872299<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fcosmetolog.bondarevich%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog.bondarevich/</a>

    </li>
    <li>
        Трусь Марина<br>

        Адрес: г. Гродно, ул. Кабяка 8/3, салон Токио<br>

        +375297853455<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fmarinatrous_cosmetology%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/marinatrous_cosmetology/</a>

    </li>
    <li>Гапоник Виктория<br>

        Адрес: г. Гродно<br>

        +375336852742<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fviki_beautyroom%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/viki_beautyroom/</a>

    </li>
    <li>Санцевич Анна<br>

        Адрес: г. Гродно<br>

        +375295847328<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fann_kosmetolog.grodno%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/ann_kosmetolog.grodno/</a>

    </li>
    <li>Растегаева Анна<br>

        Адрес: г. Гродно<br>

        +375295866461<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fanna_rastegaeva_kosmetolog%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/anna_rastegaeva_kosmetolog/</a>

    </li>
    <li>Рыжко Мария<br>

        Адрес: г. Гродно<br>

        +375295865907<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fmaria_cosmetik_grodno%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/maria_cosmetik_grodno/</a>

    </li>
    <li>Гапоник Марина<br>

        Адрес: г. Гродно<br>

        +375298836246<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fcosmetolog_marinagaponik%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog_marinagaponik/</a>

    </li>
    <li>Струпинская Дарья<br>

        Адрес: г. Гродно, ул. Горького 49<br>

        +375295855263<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fdr.darya_st%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/dr.darya_st/</a>

    </li>
    <li>Лоскот Наталия<br>

        Адрес: г. Гродно, ул. Стефана Батория,8<br>

        +375296973800<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Floskatnatalia%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/loskatnatalia/</a>

    </li>
    <li>Бьюти Бокс<br>

        Адрес: Гродно, ул. Калючинская, 21, ТЦ Палац<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fbeauty_box_111%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/beauty_box_111/</a>

    </li>
    <li>Кадач Ольга<br>

        Адрес: Гродно, ул. Буденного 28<br>
        +375297887122<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fkadacholga17%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kadacholga17/</a>

    </li>
    <li>Учебный Центр <span style="font-weight:bold;">GetProfession</span>
        <br>
        Адрес: Гродно, ул. Карла Маркса 7-18<br>
        +375 29 22 77 200<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fgetprofession_grodno%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/getprofession_grodno/</a>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fgetprofession_shop%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/getprofession_shop/</a>
    </li>
    <li>Инна Матвеева<br>

        Адрес: Гродно, ул. Соломовой, 78 - АКАДЕМИЯ КРАСОТЫ

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Facademiya_krasoty_grodno%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/academiya_krasoty_grodno/</a>
    </li>
    <li>Валентинович Надежда<br>

        Адрес: Гродно<br>

        +375298679258<br>

        <a href="https://www.instagram.com/nadezhda.valentsinovich/"
           target="_blank">https://www.instagram.com/nadezhda.valentsinovich/</a>

    </li>
    <li>Оскерко Валентина<br>

        Адрес: г.Лида, пр-т Победы, 41<br>
        +375 (44) 768-17-45<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fiplaser_lida%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/iplaser_lida/</a>
    </li>
    <li>Алёна Зайцева<br>

        Адрес: г.Лида, ул. Замковая 4<br>

        +375293939874<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fcosmetolog_aliona_zaiceva%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog_aliona_zaiceva/</a>
    </li>
    <li>Юлия Янович<br>

        Адрес: г.Лида<br>

        +375297808347<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fyuliya_yanovich_%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/yuliya_yanovich_/</a>

    </li>
    <li>Шмыгина Елена<br>

        Адрес: г.Лида, ул. Кирова 10<br>

        +375296255232<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Flida_kosmetolog_elena%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/lida_kosmetolog_elena/</a>

    </li>
    <li>Меркулова Илона<br>

        Адрес: г.Лида, ул. Кирова 4 (Экватор), 4 этаж 404, Косметологический кабинет «EFFECT»<br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fkosmetologvlide%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetologvlide/</a>

    </li>
    <li>Герда Ольга<br>

        Адрес: г\п Вороново/Слоним<br>

        +375445616138<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fkosmetolog_voranava%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog_voranava/</a>
    </li>
    <li>Норка Татьяна<br>

        Адрес: г.Сморгонь, ул. Советская, 21<br>

        +375292064501<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fnorka_probeauty%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/norka_probeauty/</a>
    </li>
    <li>Огородник Дарья<br>

        Адрес: г.п. Зельва,ул. Победы 1, кабинет 104<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Finstagram.com%2Fogorodnik_dasha_cosmetolog%3Futm_medium%3Dcopy_link%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://instagram.com/ogorodnik_dasha_cosmetolog/</a>
    </li>
    <li>Каравай Татьяна<br>

        Адрес: Островец, Ошмяны<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Ftanusha_karavai%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/tanusha_karavai/</a>
    </li>
    <li>Марина Антончик<br>

        Адрес: г. Волковыск<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fmarinka_anton4ic_kosmetolog%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/marinka_anton4ic_kosmetolog/</a>

    </li>
    <li>Курецкая Вероника<br>

        Адрес: г. Волковыск, ул. Карла Маркса, 3<br>

        <a href="https://www.instagram.com/kuretskaya_makeup_kosmetolog/"
           target="_blank">https://www.instagram.com/kuretskaya_makeup_kosmetolog/</a>

    </li>
    <li>Карташова Наталья<br>

        Адрес: г. Волковыск, ул. Горбатова,24а<br>

        <a href="https://www.instagram.com/astoria_cosmetology/"
           target="_blank">https://www.instagram.com/astoria_cosmetology/</a>
    </li>
</ol>