<ol type="1">
    <li>Дарья Свиридо<br>
        Адрес: г.Вилейка, ул. Гагарина 17<br>
        +375336648728<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fkosmetik.darya%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetik.darya/</a>
    </li>
    <li>Смирнова Елена
        <br>Адрес: г.Молодечно, ул. Притыцкого 21 каб 12<br>
        +375296517591<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fbeauty_molo%2F" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/beauty_molo/</a>
    </li>
    <li>Микульская Алёна
        <br>Адрес: г.Молодечно, ул. Притыцкого 9<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/elen_estetic_molodechno/"
           target="_blank">https://www.instagram.com/elen_estetic_molodechno/</a>
    </li>
    <li>Петрович Юлия
        <br>Адрес: г. Солигорск<br>
        +375296144196<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fpetrowich_cosmetolog%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/petrowich_cosmetolog/</a>
    </li>
    <li>Картакова Марина
        <br>Адрес: г. Солигорск
        <br>+375336016628<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fcosmetolog_kartakova%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog_kartakova/</a>
    </li>
    <li>Жукова Татьяна

        <br>Адрес: г. Солигорск, ул.Коржа 3, 27 кабинет

        <br>+375295783555<br>

        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Festetic_tanya%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/estetic_tanya/</a>
    </li>
    <li>Кристина Вербицкая
        <br>Адрес: г.Солигорск<br>
        +375291714634<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/verbalab_cosmetolog/?utm_medium=copy_link"
           target="_blank">https://www.instagram.com/verbalab_cosmetolog/?utm_medium=copy_link</a><br>
    </li>
    <li>Марианна Ржеусская<br>
        Адрес г. Борисов, ул.Строителей 26, кабинет 2

        <br>+375293154772<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fmarianna__beauty_%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/marianna__beauty_/</a>

    </li>
    <li>
        Макаревич Татьяна
        <br>Адрес: г. Борисов, ул.Революции, 18
        <br><a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fmarianna__beauty_%2F"
               target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog.lico/</a>

    </li>
    <li>Борейко Светлана<br>
        Адрес: г. Борисов
        <br><a data-auto-recognition="true" href="https://www.instagram.com/svetlana_cosmetolog_estetic/"
               target="_blank">https://www.instagram.com/svetlana_cosmetolog_estetic/</a>

    </li>
    <li>Гуд Татьяна
        <br>
        Адрес: г. Смолевичи

        <br>+375297387159<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Ftanya.gud.85%2F" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/tanya.gud.85/</a>
    </li>
    <li>Оксана Мысливец

        <br>Адрес: г. Логойск

        <br>+375295976046<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fok_cosmetology_prof%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/ok_cosmetology_prof/</a>

    </li>
    <li>Величко Елена

        <br>Адрес: г. Марьина Горка, ул. Армейская 12, каб 39<br>
        +375256942020<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Falena_cosmeticmg%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/alena_cosmeticmg/</a>
    </li>
    <li>Woman студия красоты, Виктория Затурановая

        <br>Адрес: г. Заславль, ул.Советская 100А, 2 этаж<br>
        +375296146177<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fbeauty_woman_zaslavl%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/beauty_woman_zaslavl/</a>
    </li>
</ol>