<ol type="1">
    <li>Марковская Елена, Ольга Королецкая
        <br>Адрес: пер.Войсковый, 13
        <br>
        +375295702611
        <br>
        <a href="https://www.instagram.com/Morkva_cosmetology/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/Morkva_cosmetology/
        </a>
    </li>
    <li>
        Татьяна Кильчевская-Николайчик
        <br>
        Адрес: пр-т Победителей 75/1, Бьюти дом "Сорока"
        <br>
        +375447276289<br>
        <a href="https://www.instagram.com/slim_beauty_room/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/slim_beauty_room/
        </a>
    </li>
    <li>Полина Миронова<br>
        +375292943863<br>
        Адрес: ул.Мельникайте 2, 7 этаж, каб 709<br>
        <a href="https://www.instagram.com/polina.proface/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/polina.proface/
        </a>
    </li>
    <li>Светлана Ерофеева<br>
        +375336363173<br>
        Адрес: ул.К.Чорного 5а<br>
        <a href="https://www.instagram.com/cosmetik.by/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/cosmetik.by/
        </a>
    </li>
    <li>Подлешук Татьяна<br>
        +37529-604-44-17<br>
        Адрес: Гостиница Планета, пр.Победителей, 31/1<br>
        <a href="https://www.instagram.com/kosmetolog_missistatti/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/kosmetolog_missistatti/
        </a>
    </li>
    <li>Наталия Ерошенок<br>
        <a href="https://www.instagram.com/organic_bar_by/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/organic_bar_by/
        </a>
    </li>
    <li>Ходько Анна<br>
        +375447560050<br>
        Адрес: пр-т Победителей, 125<br>
        <a href="https://www.instagram.com/annak_kosmetolog/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/annak_kosmetolog/
        </a>
    </li>
    <li>Шимко Людмила<br>
        +375297711753<br>
        Адрес: ул.Пушкина, 41<br>
        <a href="https://www.instagram.com/cosmetic_nurse_luidmila/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/cosmetic_nurse_luidmila/
        </a>
    </li>
    <li>Ковалевская Марианна<br>
        +375296923975<br>
        Адрес: ул.Я.Коласа, 69<br>
        <a href="https://www.instagram.com/marianneta69gmail/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/marianneta69gmail/
        </a>
    </li>
    <li>ШКОЛА КОСМЕТОЛОГИИ «МЕЛЕОР»<br>
        <a href="https://www.instagram.com/meleor_education/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/meleor_education/
        </a>
    </li>
    <li>Лилия Родзевич<br>
        +375293077177<br>
        Адрес: ул.Бурдейного, 14<br>
        <a href="https://www.instagram.com/beauty_lilia_/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/beauty_lilia_/
        </a>
    </li>
    <li>Мельникова Ольга<br>
        +375292512793<br>
        <a href="https://www.instagram.com/cosmetolog_melnikova/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/cosmetolog_melnikova/
        </a>
    </li>
    <li>Головач Ольга<br>
        +375296666513<br>
        Адрес: ул.Тимирязева, 2<br>
        <a href="https://www.instagram.com/skinexpert_minsk/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/skinexpert_minsk/
        </a>
    </li>
    <li>Богдан Кристина<br>
        +375333560036<br>
        Адрес: пер. Тучинский 4, студия Бьюти_мо<br>
        <a href="https://www.instagram.com/kriss_mo_/" target="_blank"
           rel="noreferrer noopener">
            https://www.instagram.com/kriss_mo_/
        </a>
    </li>
    <li>Ермак Мария
        <br>
        +375447473351
        <br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fdr.maryia_beauty%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/dr.maryia_beauty/</a>
    </li>
    <li>
        Гринько Вероника<br> +375293547898 <br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Finstagram.com%2Fnika_kosmetolog_%3Futm_medium%3Dcopy_link%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://instagram.com/nika_kosmetolog/</a>

    </li>
    <li>
        Шестакова Полина<br> 80296381753 <br> Адрес: Пр-т Дзержинского 131 <br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Finstagram.com%2Fskin_ph_%3Futm_medium%3Dcopy_link%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://instagram.com/skin_ph_?utm_medium=copy_link/</a>
    </li>
    <li>
        Ольга Бакаушина<br>Адрес: Новая Боровая <br> +375 (29) 109-60-02 <br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Finstagram.com%2Folga_cosmetolog.nb%3Futm_medium%3Dcopy_link%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://instagram.com/olga_cosmetolog.nb/</a>

    </li>
    <li>
        Мицкевич Елена <br> Адрес: ул.Петра Мстиславца 6, кабинет 204 <br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Finstagram.com%2Felena_m.cosmetolog%3Futm_medium%3Dcopy_link%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://instagram.com/elena_m.cosmetolog/</a>

        <br>
    </li>
    <li>
        Юлия Рудникевич <br>80292332902 <br> Адрес: ул.Смоленская 15, ст метро Пролетарская <br>

        <a href="https://vk.com/away.php?to=https%3A%2F%2Finstagram.com%2Fjuliamk_cosmetic%3Futm_medium%3Dcopy_link%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://instagram.com/juliamk_cosmetic/</a>

    </li>
    <li>
        Ахундова Эльмира <br> Адрес: Минск, микрорайон Сокол <br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fkosmetik_elja%2F&amp;cc_key="
           target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/kosmetik_elja/</a>
    </li>
    <li>
        Урбанович Маргарита
        <br> Адрес: ул.Туровского 12-151<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fcosmetolog_margo%2F%3Futm_medium%3Dcopy_link&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog_margo/</a>
    </li>
    <li>
        Станкевич Ксения <br> онлайн-консультации <br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fdr.stankevich_kseniya%2F%3Futm_medium%3Dcopy_link&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/dr.stankevich_kseniya/</a>
    </li>
    <li>faces.cosmetologi <br> Адрес: ул.Скрыганова, 4б <br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Ffaces.cosmetologi%2F&amp;cc_key="
           target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/faces.cosmetologi/</a>
    </li>
    <li>
        Кийко Анастасия (Минск) <br> Адрес: ул.Якуба Коласа 7 <br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fkosmetolog_anastasi%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog_anastasi/</a>
    </li>
    <li>Бирюкова Мария
        <br> +375293733567 <br>
        Адрес: ул.Янки Купалы,19 студия «На Купалы» <br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fdr.krasota.by%2F&amp;cc_key="
           target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/dr.krasota.by/</a>
    </li>
    <li>
        Александра Воробей<br>
        Адрес: пр-т Независимости 27А , Ст.м. Октябрьская<br>
        +375297896309<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fdoctor_ptichka%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/doctor_ptichka/
        </a>
    </li>
    <li>Алла Грошева<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fala_grosheva%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/ala_grosheva/</a></li>
    <li>Макаревич Татьяна<br>
        Адрес: пр Независимости 131/1, студия легро<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fkosmetolog.lico%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog.lico/</a>
    </li>
    <li>Александра Аксенова<br>
        Малиновка<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Faleksa.aksionova%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/aleksa.aksionova/</a>
    </li>
    <li>Эйсмонт Наталья <br>
        +375296417811<br>
        Адрес: ул.Короля 51<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fcosmetics_natali%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetics_natali/</a><br>
    </li>
    <li>Малей Алёна +375291801272<br>
        Адрес: пер. Тучинский 2<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fcosmetic_malei%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetic_malei/</a><br>
    </li>
    <li>Наталья Пикулик +375296894424<br>
        Адрес: пр-т Дзержинского 125а&nbsp;<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fnatalykosmetics%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/natalykosmetics/</a>
    </li>
    <li>Оксана Мигас +375295009375<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fmigas_oksana_kosmed%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/migas_oksana_kosmed/</a>
    </li>
    <li>Жанна Шлайтайте +375296360345<br>
        Адрес: ул.Мельникайте 9 каб 1&nbsp;<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fcosmetolog.zhanna%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog.zhanna/</a>
    </li>
    <li>Ню студио<br>+375291333320<br>
        Адрес: ул. Бурдейного 20<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fnu_studio_minsk%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/nu_studio_minsk/</a>
    </li>
    <li>Гришина Юлия<br>
        +375291809680
        <br>Адрес: Туровского 10<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fkosmetolog_grishina%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog_grishina/</a><br>
    </li>
    <li>Эпил Сфинкс <br>+375447285123<br>

        Адрес: пер. Тучинский 2<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fcity_sfinks%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/city_sfinks/</a>
    </li>
    <li>Оксана Мысливец <br>+375295976046<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fok_cosmetology%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/ok_cosmetology/</a>
    </li>
    <li>Смагина Татьяна <br>+375296489269

        <br>Адрес: пр-т Независимости 85 Г<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fsmaginat%2F&amp;cc_key=" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/smaginat/</a>
    </li>
    <li>СоДа Студио<br>
        Адрес: ул.Мстиславца 8<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fsoda_beauty_studio%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/soda_beauty_studio/</a>
    </li>
    <li>Литопур Ольга <br>+375291039976
        <br>Адрес: ул.Жилуновича 24<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fuhod_pro%2F&amp;cc_key=" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/uhod_pro/</a>
    </li>
    <li>Хозянин Татьяна <br>+375296102506<br>
        Адрес: ул. Мележа 1<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Ftatyana_khazianin%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/tatyana_khazianin/</a>
    </li>
    <li>Дарья Благая<br>
        онлайн-консультации<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fmake.myself.better%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/make.myself.better/</a>
    </li>
    <li>Карина Кондратьева<br> +375297666538<br>
        Адрес: Beauty Coworking на Димитрова, 5<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fmed.kosmetolog.minsk%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/med.kosmetolog.minsk/</a>
    </li>
    <li>Трофимова Юлия +375296931507<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fsalon_diel_minsk_%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/salon_diel_minsk_/</a>
    </li>
    <li>Сасим Ольга<br> +375296897124<br>
        Адрес: ул.Богдановича 60<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fyour_beautifulface%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/your_beautifulface/</a>
    </li>
    <li>Зури<br> +375296622796<br>
        Адрес: ул.Мележа 1<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fkosmeticzuri%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmeticzuri/</a>
    </li>
    <li>СонАри<br> +375291995759<br>
        Адрес: ул.Алибегова 12<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fsonari.minsk%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/sonari.minsk/</a>
    </li>
    <li>Студия красоты Вианика <br>+375296669160<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fvianika_by%2F&amp;cc_key=" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/vianika_by/</a>
    </li>
    <li>Людмила Ардельянова <br>+375297660101<br>
        Адрес: ул.Притыцкого,34<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fardelyanova_pro_color%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/ardelyanova_pro_color/</a>
    </li>
    <li>Ганчар Ольга<br>Адрес: ул.Колесникова 18<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Folga_med_cosmetology%2F%3Futm_medium%3Dcopy_link&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/olga_med_cosmetology/</a>
    </li>
    <li>Дубинина Диана<br>
        Адрес: ул.Ульяновская 4<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Finstagram.com%2Fdiana_dubinina_cosmetolog%3Futm_medium%3Dcopy_link&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://instagram.com/diana_dubinina_cosmetolog/</a>
    </li>
    <li>Татьяна Курецкая <br>+375336830052<br>
        Адрес: ул.Жилуновича 24<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fcosmetology__minsk%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetology__minsk/</a>
    </li>
    <li>Салон Найс<br>
        Адрес: Пр-т Независимости 168/3<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Finstagram.com%2Fnice_minsk%3Figshid%3DYmMyMTA2M2Y%3D&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://instagram.com/nice_minsk?igshid=YmMyMTA2M2Y=</a>
    </li>
    <li>Фурсова Ольга<br> +375297745741<br>
        Адрес: ул.Петра Мстиславца, 6<br>
        <a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Foliv_cosmet%2F&amp;cc_key="
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/oliv_cosmet/</a>
    </li>
    <li>Павлова Мадина, Минск<br>
        Адрес: Пр. Победителей 31, 10 этаж; 1001<br>
        <a href="https://vk.com/away.php?utf=1&amp;to=https%3A%2F%2Fwww.instagram.com%2Fmadina.proskin%2F"
           target="_blank" rel="noreferrer noopener">https://www.instagram.com/madina.proskin/</a>
    </li>
    <li>Емельянович Ольга<br>
        Адрес : ул. Мележа, 1, БЦ "Парус"<br>
        +375297681342<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/kosmetolog_olga_minsk/?utm_medium=copy_link"
           target="_blank">https://www.instagram.com/kosmetolog_olga_minsk/?utm_medium=copy_link</a>
    </li>
    <li>Фурс Галина
        <a data-auto-recognition="true" href="https://www.instagram.com/halina.cosmetics/"
           target="_blank">https://www.instagram.com/halina.cosmetics/</a>
    </li>
    <li>Осипович Виктория
        <br>Адрес : ул. Корженевского 31/1<br>
        <a href="https://www.instagram.com/cosmetolog_osipovich/" target="_blank">https://www.instagram.com/cosmetolog_osipovich/</a>
    </li>

    <li>Архипец Инна<br>
        Адрес : ул. Есенина, 10<br>
        <a href="https://www.instagram.com/ivanka_beauty/" target="_blank">https://www.instagram.com/ivanka_beauty/</a>
    </li>
    <li>Арончик Людмила<br>
        Адрес : пр. Победителей 75/1<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/cosmetolog_aronchik/" target="_blank">https://www.instagram.com/cosmetolog_aronchik/</a>
    </li>
    <li>Серко Елена<br>
        Адрес : 2й Путепроводный пер., д1, Центр - Tesori<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/s.elena_beauty/"
           target="_blank">https://www.instagram.com/s.elena_beauty/</a>
    </li>
    <li>Зубович Ирина<br>Адрес :ул. Есенина 64, салон красоты "Юлия"<br>
        Адрес :ул. Домбровская 9, Koworking Freedom<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/kosmetolog_irina_minsk_5183/?hl=ru"
           target="_blank">https://www.instagram.com/kosmetolog_irina_minsk_5183/?hl=ru</a>
    </li>

    <li>Керус Екатерина<br>
        Адрес :ул. Городской вал 10, "city face"<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/skin_kati/" target="_blank">https://www.instagram.com/skin_kati/</a>
    </li>

    <li>Федоренко Ольга<br>
        Адрес: Мачулищи, ул.Дружная, 46, студия красоты<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/feola.beauty_spa.minsk/" target="_blank">https://www.instagram.com/feola.beauty_spa.minsk/</a>
    </li>
    <li>Орловская Елена<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/helena_cosmetik/" target="_blank">https://www.instagram.com/helena_cosmetik/</a>
    </li>

    <li>Армянинова Татьяна<br>
        Адрес: ул.Богдановича, 60, Студия мастеров<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/cosmetolog_armani/" target="_blank">https://www.instagram.com/cosmetolog_armani/</a>
    </li>

    <li>Петренко Алина<br>Адрес: ул.Мельникайте, 9<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/cosmetic_med_alina/" target="_blank">https://www.instagram.com/cosmetic_med_alina/</a>
    </li>

    <li>Копыл Татьяна<br>Адрес: ул.Аэродномная, 32<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/cosmetolog_tatiana_minsk/" target="_blank">https://www.instagram.com/cosmetolog_tatiana_minsk/</a>
    </li>

    <li>Гурман Мария<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/dr.hurman/" target="_blank">https://www.instagram.com/dr.hurman/</a>
    </li>
    <li>Жгировская Жанна<br>
        Адрес: ул.Одесская, д.20А<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/crazy_beauty.by/" target="_blank">https://www.instagram.com/crazy_beauty.by/</a>
    </li>
    <li>Камлюк Елена<br>
        Адрес: Притыцкого 89, теорема красоты<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/kosmetolog_teorema/" target="_blank">https://www.instagram.com/kosmetolog_teorema/</a>
    </li>

    <li>Прокопенко Анастасия<br>
        Адрес: ул.Якуба Коласа 39<br>
        +375291522644<br>
        <a data-auto-recognition="true" href="https://www.instagram.com/fresh.beauty_skin/" target="_blank">https://www.instagram.com/fresh.beauty_skin/</a>
    </li>
</ol>