<ol type="1">
    <li>Студия "Beautycab"<br>
        Адрес: г. Могилев, ул. Ленинская, 22<br>
        +375292201525<br>
        <a href="https://www.instagram.com/beautycab.by/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/beautycab.by/</a>
    </li>
    <li>Грабская Дарья<br>
        Адрес: г. Могилев, ул. Ленинская, 22<br>
        салон "Анатомия стиля"<br>
        +375293723289<br>
        <a href="https://www.instagram.com/grabskaya.pro/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/grabskaya.pro/</a>
    </li>
    <li>Анна Корниенко<br>
        Адрес: г. Могилев, пр-т Шмидта, 40<br>
        Салон "Celebrity"<br>
        +375445116888<br>
        <a href="https://www.instagram.com/kornienko.anna/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/kornienko.anna/</a>
    </li>
    <li>Медицинский центр Эстемед<br>
        Адрес: г.Могилев, ул. Габровская,30<br>
        <a href="https://www.instagram.com/estemed_mogilev.medcentr/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/estemed_mogilev.medcentr/?utm_medium=copy_link</a>

        онлайн консультации/продажи:<br>
        <a href="https://www.instagram.com/pro_beautystore/?igshid=YmMyMTA2M2Y=" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/pro_beautystore/?igshid=YmMyMTA2M2Y=</a>
    </li>
    <li>Студия эстетики тела Эталон<br>
        Адрес: г.Могилев, ул. Тани Карпинской, 3<br>
        <a href="https://www.instagram.com/etalon_mogilev/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">ttps://www.instagram.com/etalon_mogilev/?utm_medium=copy_link</a>
    </li>
    <li>Касперович Ольга<br>
        Адрес: г. Могилев, пр.Пушкинский, 6<br>
        Beauty Studio "Vanille"<br>
        +375296964480<br>
        <a href="https://www.instagram.com/vanille_cosm/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/vanille_cosm/</a>
    </li>
    <li>Ирина Рагуева<br>
        Адрес: г. Могилев, салон "Тамара"ул. Пионерская, 46<br>
        +375293080707<br>
        <a href="https://www.instagram.com/vanille_cosm/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/ir_ina8657/?utm_medium=copy_link</a>

    </li>
    <li>Венедиктова Елена<br>
        Адрес: г. Могилев, ул. Ленинская 4, Косметический салон "ЭЛЕНИКА"<br>
        <a href="https://www.instagram.com/elenika_mogilev/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/elenika_mogilev/</a>
    </li>
    <li>Тихонович Александра<br>
        Адрес: г. Могилев, Пожарный переулок 5Б<br>
        +375295436005<br>
        <a href="https://www.instagram.com/manticora_sasha/?igshid=YmMyMTA2M2Y=" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/manticora_sasha/</a>
    </li>
    <li>Снытко Евгения<br>
        Адрес: г. Могилев<br>
        <a href="https://www.instagram.com/evgenia_cosmetik/" target="_blank">https://www.instagram.com/evgenia_cosmetik/</a>
    </li>
    <li>Глабец Кристина<br>
        Адрес: г. Могилев, пер.Пожарный, 3Б<br>
        <a href="https://www.instagram.com/studio_bo_/" target="_blank">https://www.instagram.com/studio_bo_/</a>
    </li>
    <li>Ткачева Светлана<br>
        Адрес: г. Могилев, пер.Пожарный, 9<br>
        <a href="https://www.instagram.com/kosmetolog_svetlanaruban/" target="_blank">https://www.instagram.com/kosmetolog_svetlanaruban/</a>
    </li>
    <li>
        Валуева Светлана<br>
        Адрес: г. Могилев,ул.30 лет Победы,д.26Б<br>
        +375291759550<br>
        <a href="https://www.instagram.com/vanille_cosm/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/valueva_cosmetolog/</a>
    </li>
    <li>Макарская Юлия<br>
        Адрес: г. Кировск, Санаторий им.К.П.Орловского, каб. 220<br>
        <a href="https://www.instagram.com/dr.makarskay_cosmetolog/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/dr.makarskay_cosmetolog/</a>
    </li>
    <li>Ильченко Юлия<br>
        Адрес: г. Бобруйск, ул. Советская, 97<br>
        Отель "Амакс", 4 этаж, каб. 408<br>
        +375296359238<br>
        <a href="https://www.instagram.com/kosmetolog_bobr/channel/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog_bobr/</a>
    </li>
    <li>Салон красоты "Парк-студия"&nbsp;<br>
        Адрес: г. Бобруйск, ул. Интернациональная, 47<br>
        <a href="https://www.instagram.com/parkstudio_bobruisk/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">ttps://www.instagram.com/parkstudio_bobruisk/?utm_medium=copy_link</a>
    </li>
    <li>Андрусевич Екатерина<br>
        Адрес: г. Бобруйск, ул. Советская 97/26, каб. 28<br>
        <a href="https://www.instagram.com/elenika_mogilev/?utm_medium=copy_link" target="_blank"
           rel="noreferrer noopener">https://www.instagram.com/elenika_mogilev/?utm_medium=copy_link</a>
    </li>
    <li>Татьяна Стельмашук<br>
        Адрес: г. Бобруйск<br>
        <a href="https://www.instagram.com/cosmetprof/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetprof/</a>
    </li>
    <li>Татьяна Победоносцева<br>
        Адрес: г. Осиповичи, ул.60 лет Октября, 19/19<br>
        <a href="https://www.instagram.com/beautyderm_osipovichi/" target="_blank">https://www.instagram.com/beautyderm_osipovichi/</a>
    </li>
</ol>>