<ol type="1">
    <li>
        Аида Юрашевич<br>
        Адрес: г.Витебск, Московский пр-т, 31а, Салон "Шарм"<br>
        +375297152553<br>
        <a href="https://www.instagram.com/kosmetolog__vitebsk/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog__vitebsk/</a>
    </li>
    <li>Ирина Грубникова<br>
        Адрес: г.Витебск<br>
        <a href="https://www.instagram.com/kosmetolog_grubnikova_vtb/" target="_blank">https://www.instagram.com/kosmetolog_grubnikova_vtb/</a>
    </li>
    <li>Ольга Зуева<br>
        Адрес: г.Витебск<br>
        +375297551316<br>
        <a href="https://www.instagram.com/cosmetolog_olga_vitebsk/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetolog_olga_vitebsk/</a>
    </li>
    <li>Алёна Левко<br>
        Адрес: г.Витебск, БЦ "Москва", Московский пр-т, 53, 2 этаж, каб.18<br>
        +375298912105<br>
        <a href="https://www.instagram.com/alenalevko/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/alenalevko/</a>
    </li>
    <li>Бумастрова Ольга<br>
        Адрес: г.Витебск, ул. Фрунзе 26/3, Студия Эстетики "Collis"<br>
        +375295533523<br>
        <a href="https://www.instagram.com/kosmetolog_olga_vtb/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog_olga_vtb/</a>
    </li>
    <li>Маньковская Елена<br>
        Адрес: г. Орша, ул. Ленина,34<br>
        <a href="https://www.instagram.com/facelove_orsha/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/facelove_orsha/</a>
    </li>
    <li>Куксенок Екатерина<br>
        Адрес: г. Полоцк/Новополоцк<br>
        +375333455912<br>
        <a href="https://www.instagram.com/katrinkuksenok/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/katrinkuksenok/</a>
    </li>
    <li>Петько Дарья<br>
        Адрес: г. Верхнедвинск, ул. Советская, 173<br>
        <a href="https://www.instagram.com/cosmetic.verkhnedvinsk/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/cosmetic.verkhnedvinsk/</a>
    </li>
    <li>Студия красоты<br>
        Адрес: г. Верхнедвинск<br>
        +375298482801<br>
        <a href="https://www.instagram.com/es_studio_vd/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/es_studio_vd/</a>
    </li>
    <li>Яриго Анастасия<br>
        Адрес: г.п. Шумилино, ул. Вокзальная, 9<br>
        <a href="https://www.instagram.com/kosmetolog_yarigo/?igshid=YmMyMTA2M2Y="
           target="_blank">https://www.instagram.com/kosmetolog_yarigo/?igshid=YmMyMTA2M2Y=</a>
    </li>
    <li>Мария Михайловская<br>
        Адрес: г. Лепель<br>
        <a href="https://www.instagram.com/es_studio_vd/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/maria_cosmetolog_lepel/?utm_medium=copy_link</a>
    </li>
    <li>Кавунова Светлана<br>
        Адрес: г. Городок<br>
        +375333233702<br>
        <a href="https://www.instagram.com/kosmetolog.gorodok/" target="_blank" rel="noreferrer noopener">https://www.instagram.com/kosmetolog.gorodok/</a>
    </li>
</ol>