@import "utils";
@import "fonts";
@import "components";

$main-container-width: breakpoint('xl');

html {
  scroll-behavior: smooth;
}

body {
  @include light;
  font-size: 16px;
  line-height: 15px;
  scroll-behavior: smooth;
}

.header {
  border-bottom: 1px solid #939393;
  background: $main-color;
}

.container {
  max-width: breakpoint('xl');
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
}

.about, .products {
  @include regular;
  font-size: 24px;
  line-height: 23px;
}

.text-bold {
  @include bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.005em;
}

.text-white {
  color: #FFFFFF;
}

.bold {
  @include bold;
}

.black {
  @include black;
}

p {
  line-height: 25px;
  letter-spacing: 0.005em;
}

.title_md {
  line-height: 115%;
}

.title_xl {
  line-height: 120%;
}

.union-group {
  display: flex;
  justify-content: center;
  width: 55.54px;
  height: 55.54px;
  align-items: center;
  border-radius:50%;
  cursor: pointer;
}

.app__chat-btn {
  display: none;
  position: fixed;
  bottom: max(calc(((100vw - #{$main-container-width}) / 2 - 255px) / 2), 20px);
  right: max(calc(((100vw - #{$main-container-width}) / 2 - 255px) / 2), 20px);
  width: 255px;
  height: 82px;
  z-index: 10001;

  background: #1D1D1B;
  border-radius: 48px;
  border-style: none;

  span {
    @include bold;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: #F4F4F4;
  }
}

@media (max-width: breakpoint('sm')) {
  .app__chat-btn {
    width: 218px;
    height: 70px;

    span {
      font-size: 20px;
    }
  }
}

@media (max-width: breakpoint('xl')) {
  .xl-d-none {
    display: none;
  }
  .container {
    max-width: 900px;
  }
}

@media (max-width: breakpoint('lg')) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: breakpoint('md')) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: breakpoint('sm')) {
  .container {
    max-width: 320px;
  }
}

.async-hide {
  opacity: 0;
}

/* seo friendly */
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}