@use "sass:map";
@import "utils";
@import "fonts";
@import "components";

body {
    @include light;
    font-size: 16px;
    line-height: 15px;
}

.header {
    border-bottom: 1px solid #939393;
    background: $main-color;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
}

.about, .products {
    @include regular;
    font-size: 24px;
    line-height: 23px;
}

.text-bold {
    @include bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.005em;
}

.text-white {
    color: #FFFFFF;
}

p {
    line-height: 25px;
    letter-spacing: 0.005em;
}

.app__chat-btn {
    position: fixed;
    bottom: max(calc(((100vw - 1140px)/2 - 255px)/2), 20px);
    right: max(calc(((100vw - 1140px)/2 - 255px)/2), 20px);
    width: 255px;
    height: 82px;
    z-index: 10001;

    background: #1D1D1B;
    border-radius: 48px;
    border-style: none;
    span {
        @include bold;
        font-weight: 700;
        font-size: 26px;
        line-height: 100%;
        color: #F4F4F4;
    }
}

@media (max-width: map.get($grid-breakpoints, xl)) {
    .xl-d-none {
        display: none;
    }
}

