@import "utils";
@import "fonts";
@import "components";

body {
    @include light;
    font-size: 16px;
    line-height: 15px;
}

.header {
    border-bottom: 1px solid #939393;
    background: #F6F6F6;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
}

.about, .products {
    @include regular;
    font-size: 24px;
    line-height: 23px;
}

.text-bold {
    @include bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.005em;
}

.text-white {
    color: #FFFFFF;
}

p {
    line-height: 25px;
    letter-spacing: 0.005em;
}

.all-line {
    position: relative;
    height: 900px;
    img {
        position: absolute;
        top: 0;
        background-position: center;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
    }
    .all-line-img {
        top: 0.039vw;
        z-index: 1000;
        width: auto;
    }
    .back-2-img {
        top: 490px;
    }
}

